[2018-08-28 20:26] srameshr opened #1 "WOW! Is this really happening?"
Currently, devs are using https://github.com/npomfret/react-native-image-tools to integrate a decent photo editor. But, something like https://github.com/burhanrashid52/PhotoEditor would be amazing.

[2018-08-29 05:17] prscX commented on #1
Thanks @srameshr for showing your interest. I am targeting 2-3 weeks for effort in order to have this in place.

Initially my goal was to integrate [burhanrashid52/PhotoEditor]( https://github.com/burhanrashid52/PhotoEditor) library but I could not find any similar library on iOS. As of now I was targeting below library to create a RN wrapper:

- [iOS: eventtus/photo-editor](https://github.com/eve

[2018-08-29 05:47] srameshr commented on #1
Yes, **eventtus** editors look even better.
BTW, I have supported you via Buy Me A Coffee. Looking forward to this editor.

[2018-08-29 06:56] prscX commented on #1
WOW! My very first Coffee 😄. Thanks for the support and interest.

I will keep you posted about the updates.

Thanks
</ Pranav >

[2018-08-30 19:06] srameshr commented on #1
@prscX Also, do the original ios and android plugins support editing GIF's?

[2018-09-02 11:11] prscX commented on #1
@srameshr: I doubt. I will explore the options of having GIF's editing support as well.

Will keep you posted.

Thanks
</ Pranav >

[2018-09-10 05:47] prscX commented on #1
Hi @srameshr: Updates

Last weekend, I have integrated the native library on iOS, still few tunings are required. Coming weekend I am planning to work on the android part.

I will keep you posted about the updates.

Thanks
</ Pranav >

[2018-09-11 05:56] prscX commented on #1
Hi @srameshr. I have integrated Android as well and it is working as expected.

Coming 2 days I am slightly lined-up with few other items. Coming Thursday I am planning to push the release targeting both Android & iOS.

Thanks
</ Pranav >

[2018-09-13 08:40] prscX commented on #1
Hi @srameshr: As promised I have pushed the release for both Android & iOS.

Please follow `README` steps for the library setup, let me know incase you face any issues.

Thanks
</ Pranav >

[2018-09-13 08:42] #1 closed

[2018-09-13 10:02] srameshr opened #2 "Path param error"
The ```path``` key value is ```file:///Users/username/Library/Developer/CoreSimulator/Devices/42134366-48F1-46B6-951B-A525B89B82C0/data/Containers/Data/Application/606F6963-86A0-4E16-8124-8F5F3C5E5EB7/Documents/8D11DDDE-D992-489F-B7EA-627A86AF8B3F.jpg```

[code]

[2018-09-13 10:33] prscX commented on #2
Hi @srameshr: I have tried the same using image name as `8D11DDDE-D992-489F-B7EA-627A86AF8B3F.jpg` and it is working as expected.

Thanks
</ Pranav >

[2018-09-13 10:34] prscX commented on #2
@srameshr: Please find below snippet for providing the path:

`RNFS.DocumentDirectoryPath + "/8D11DDDE-D992-489F-B7EA-627A86AF8B3F.jpg";`

Thanks
</ Pranav >

[2018-09-13 13:13] srameshr commented on #2
So, should I install react native file system package?

[2018-09-13 15:56] prscX commented on #2
@srameshr: Can you share how you are fetching the stored file path currently?

Thanks
</ Pranav >

[2018-09-13 16:50] srameshr commented on #2
From react-native-camera.
[code]

[2018-09-16 12:33] srameshr commented on #2
@prscX Anything on this?

[2018-09-19 08:39] prscX commented on #2
@srameshr: I believe `takePictureAsync` API will capture image and save within its own application. We need to `move/copy` the same within our app and then using `RNFS` you can obtain the path.

Please feel free to share your thoughts on the same.

Thanks
</ Pranav >

[2018-09-19 13:12] srameshr commented on #2
Isn't that path available to every module within the sandbox? I see other apps such as RN Adobe editor can access the image. The same thing happens when selecting images from photos or gallery.

[2018-09-20 10:12] ddereszewski opened #3 "Idea - possibility to apply filters programatically"
use case:
1. User use the solution to put the sticker on the picture.
2. The applied filters can be  saved
3. The filters can be used in the code to be applied on the other images without user interaction, and saved.

Let me know if that makes sense. Happy to contribute

[2018-09-20 11:05] prscX commented on #3
Thanks @ddereszewski for sharing your thoughts.

I believe below shared ideas are already in place:
* User use the solution to put the sticker on the picture.
* The applied filters can be saved

May be I have misunderstood.

You are always welcome and appreciated for any type of contribution.

Thanks
</ Pranav >

[2018-09-20 15:28] ddereszewski opened #4 "Filters support"
Do you support filters eg. warm, sepia etc.

[2018-09-20 17:20] srameshr commented on #2
@prscX Could you show an example of how you are supplying the image path to the editor? Try to take picture from RN camera or RN photos

[2018-09-21 02:08] nbadag opened #5 "onDone callback not receiving any arguments"
From what I can tell from [this line](https://github.com/prscX/react-native-photo-editor/blob/master/RNPhotoEditor.js#L49), it seems like the `onDone` callback should be receiving a single argument (`path`) but I'm finding that it's always `undefined`.

Am I correct in thinking the `path` passed to `onDone` is supposed to be some form of uri for the manipulated image? My use case is one where rath

[2018-09-21 08:09] prscX commented on #4
Thanks @ddereszewski for raising the query.

I doubt `warm` || `sepia` is integrated, however you can always add custom filters based on your need. Please refer `README` for the same.

Let me know incase it does not work.

Thanks
</ Pranav >

[2018-09-21 08:09] #4 closed

[2018-09-21 08:11] prscX commented on #2
Hi @srameshr: I have not tried it by using RNCamera || RNPhotos.

In library example, I have used RNFS to write the image in local file system and provided the same path to the library.

Coming weekend, I will try the same using RNCamera || RNPhotos. Will share my results.

Thanks
</ Pranav >

[2018-09-21 08:15] prscX commented on #5
Thanks @nbadag for raising the query.

Currently in native itself the image is saved/updated at the same path post editing. `onDone` will not return any information. I have modified the same.

Thanks
</ Pranav >

[2018-09-21 08:15] #5 closed

[2018-09-21 08:15] #3 closed

[2018-09-21 17:16] SnidelyWhiplash opened #6 "Ability to force crop to a specified aspect-ratio?"
Hi, thanks for this lib, it already looks great! I'm wondering if there's a way to pass in an aspect ratio directly? In our case we need to have photos set to `16:9`, and we need to disallow users from changing that.

Any thoughts?

[2018-09-21 18:03] nbadag commented on #5
Exactly what I needed, thank you for the quick response! :)

[2018-09-21 18:29] SnidelyWhiplash opened #7 "iPhoneX SafeArea support"
At the moment, it appears the library is not accounting for iPhoneX display size. Please see attached screenshot. The icons up top are really hard to access, and the ones on the bottom are too close to the swipe-to-dismiss bar.

I _think_ wrapping everything in a `<SafeAreaView>` should fix it.

![img_2841](https://user-images.githubusercontent.com/6245069/45899370-7e335100-bd91-11e8-9b39-9fcc8a54

[2018-09-21 18:34] SnidelyWhiplash opened #8 "Drawing on photo causes canvas to move around."
Please see attached video.

https://drive.google.com/file/d/15HdAU-BDlx00kuuFwSEsTEU7FFa4slOt/view?usp=sharing

[2018-09-21 18:49] nbadag commented on #2
Hi @prscX & @srameshr — I ran into this same issue with `RNCamera` alongside [`react-native-image-crop-picker`](https://github.com/ivpusic/react-native-image-crop-picker). The difference between the two is that the picker (which worked fine with the editor) returns just a path without protocol, e.g. `/Users/username/Library...`, while the camera component returns a path with `file:///` at the fron

[2018-09-21 18:57] srameshr commented on #2
Great catch, let me just verify it again

[2018-09-24 20:29] leksyib commented on #2
@srameshr Hi! have you found a fix?

[2018-09-25 07:42] srameshr commented on #2
@leksyib @nbadag I did try it but it does not work.  It does not throw an error nor open the editor

[2018-09-25 07:44] leksyib commented on #2
Wow, I'll try saving the photo from the camera first then picking the saved
path from the editor.

On Sep 25, 2018 8:42 AM, "Siddharth Ramesh" <notifications@github.com>
wrote:

@leksyib <https://github.com/leksyib> @nbadag <https://github.com/nbadag> I
did try it but it does not work. It does not throw an error nor open the
editor

—
You are receiving this because you were mentioned.
Reply to thi

[2018-09-26 10:22] ddereszewski opened #9 "OnCancel doesn't trigger when close the editor"
When clicking Close onClose doesn't trigger

[2018-09-26 13:37] leksyib commented on #2
@srameshr  this works.. Issue can be closed
<img width="494" alt="screen shot 2018-09-26 at 2 36 12 pm" src="https://user-images.githubusercontent.com/26174035/46083561-9c39f080-c199-11e8-826a-5c1ef670fde2.png">

[2018-09-26 15:54] srameshr commented on #2
Just tried the same thing. It does not work nor does it throw an error. The screen just flashes once. That is about it. I do not see any logs on xcode.

[2018-09-27 09:05] prscX commented on #7
Hi @SnidelyWhiplash + @srameshr + @bra-shelker: I have fix the layout issues w.r.t iPhoneX.

Can you please install latest version and verify the same. Please let me know incase you face any issues.

Thanks
</ Pranav >

[2018-09-27 09:05] #7 closed

[2018-09-27 09:07] prscX commented on #2
Hi @srameshr: @tonimoeckel has raised a PR w.r.t `iOS: Read image as data from path`. Hope that might have solved the issue.

Can you please install latest version and verify the same. Please let us know incase you face any issues.

Thanks
</ Pranav >

[2018-09-27 15:04] prscX commented on #9
Thanks @ddereszewski for raising the issue.

I have made the required fix and push a release with the same. Can you please install latest version and verify the same.

Please let me know incase you face any issues.

Thanks
</ Pranav >

[2018-09-27 15:04] #9 closed

[2018-09-27 15:07] prscX commented on #8
Thanks @SnidelyWhiplash for raising the issue.

Can you please shared the simulator/os details.

Thanks
</ Pranav >

[2018-09-28 07:27] ddereszewski commented on #8
![ezgif-5-fca27e2c4e](https://user-images.githubusercontent.com/2223591/46194108-b2ae8c00-c300-11e8-8277-406f9db84120.gif)

[2018-09-28 07:29] ddereszewski commented on #7
It's good
![screen shot 2018-09-28 at 09 29 12](https://user-images.githubusercontent.com/2223591/46194195-fe613580-c300-11e8-83ba-b808f05cfbb3.png)

[2018-09-28 21:47] SnidelyWhiplash commented on #8
iPhone X here too, physical device... iOS 11.4

perhaps this is limited to the X? not sure...

[2018-10-04 11:27] prscX commented on #9
Hi @ddereszewski: My Bad. I have pushed the release on npm.

Can you please verify the same. Please let me know incase you face any issues.

Thanks
</ Pranav >

[2018-10-08 11:58] jdestep93 opened #12 "Ability to change font size and style"
Would be a really nice feature to be able to change font size and style.  Is there plans to do this in the near future?

BTW really good library so far!

[2018-10-08 12:03] jdestep93 opened #13 "Some of the features are missing on android"
The cropping feature and possibly other features are missing on Android. Please take a look at the following photo. Thank you.

<img width="341" alt="screen shot 2018-10-08 at 8 03 17 am" src="https://user-images.githubusercontent.com/28699033/46607891-a54b8b80-cad0-11e8-814a-20cfa39c2494.png">

[2018-10-09 10:01] d2luu opened #14 "Crash app on IOS 10.x when press save button"
@prscX Thank for really good library.
But my app was crashed when saving the image on IOS 10.x, other versions of IOS still be OK.
Besides, edit buttons on head overlap the status bar on any iPhone run on ios version <=10.x
<img width="400" alt="screen shot 2018-10-10 at 4 43 20 pm" src="https://user-images.githubusercontent.com/14581772/46720623-12674880-ccac-11e8-9702-5221b67d265e.png">

[2018-10-09 11:30] prscX commented on #12
Thanks @jdestep93 for sharing items.

At the moment I don't have plans of enabling font size and it's styling. Please feel free to share PR for the same.

Thanks
</ Pranav >

[2018-10-09 11:33] prscX commented on #13
Thanks @jdestep93 for raising the issue.

It's True. All feature are not supported by the native Android library we have integrated. Basically both iOS and Android libraries are written by same folks. I don't think they have any plans of enabling shared features in near future.

[photo-editor-android](https://github.com/eventtus/photo-editor-android)
[photo-editor](https://github.com/eventtus/phot

[2018-10-09 14:08] prscX commented on #13
@jdestep93: I believe it is already wired on Android. Are you facing any issues?

Thanks
</ Pranav >

[2018-10-11 13:36] jdestep93 commented on #13
yeah it doesn't appear that the callbacks are wired up to anything inside the Native module, theyre just passed to the public method `Edit` and thats it

[2018-10-14 07:56] prscX commented on #13
Thanks @jdestep93 for the PR and Effort. I am closing this issue since the PR is merged.

Thanks
</ Pranav >

[2018-10-14 07:56] #13 closed

[2018-10-14 08:12] prscX commented on #14
Thanks @d2luu for raising the issue.

* **Layout**: I believe the layout issue is fixed in the latest version. Can you please verify the same.
* **Save Issue**: Can you please share the error call stack. It is difficult to visualize the issues. However have you followed below installation step defined in `README`:

Add below property to your info.list

[code]

Thanks
</ Pranav >

[2018-10-14 08:13] prscX commented on #12
@jdestep93: Closing the issue. Since their are no plans as of now to enable the customization features.

Thanks
</ Pranav >

[2018-10-14 08:13] #12 closed

[2018-10-14 08:15] prscX commented on #2
Hi @srameshr: I hope the issues was resolved in latest version. For now I am closing the issues. Please let me know in case you still face the same issue.

Thanks
</ Pranav >

[2018-10-14 08:15] #2 closed

[2018-10-14 08:51] srameshr commented on #2
Sure, I will.

[2018-10-15 01:51] SnidelyWhiplash opened #16 "Customize icons"
Is there any way we can customize the icons within the editor?

[2018-10-15 02:44] prscX commented on #16
Thanks @SnidelyWhiplash for raising the query.

Currently customizing icons are not supported by native library. Please feel free to share PR for the same.

Thanks
</ Pranav >

[2018-10-15 02:44] #16 closed

[2018-10-15 08:16] d2luu commented on #14
@prscX thanks for your response.
 * **Layout issue**: Currently, I use react-native-photo-editor version 0.0.5 (latest version). But the layout issue still exists. As you can see the picture below, on the left is iPhone run on ios 11.1 and on the right is 10.1.
<img width="954" alt="ios 10 vs 11" src="https://user-images.githubusercontent.com/14581772/46936731-4a023600-d09a-11e8-8b3b-3dd0a778a469.

[2018-10-15 14:48] SimoneMSR opened #17 "Cannot compile for Android: package ui.photoeditor does not exist"
my **android/app/build.gradle**
[code]
After including the library in my app, and running
`react-native run-android`
I  get .this error
**..android\app\src\main\java\com\rst3\MainApplication.java:6: error: package ui.photoeditor does not exist
import ui.photoeditor.RNPhotoEditorPackage;**
where am I wrong?

[2018-10-16 05:28] prscX commented on #17
Thanks @SimoneMSR for raising the issue and fix for the same.

Thanks
</ Pranav >

[2018-10-16 05:28] #17 closed

[2018-10-23 13:14] jdestep93 opened #19 "Attempting to access file from path returned from onDone callback does not exist"
There may be an underlying issue with the implementation of saving the file to the specified file path.  May not be working entirely, or there is a race condition where the path is returned before the file is written.

[2018-10-26 17:58] aurimas535 opened #20 "Pods"
Is there are any way to install this lib without manually moving dependencies to iOs project folder? My project is using pods and usually is enough to run pod install. I tried there but that's not working, I got error that library is undefined. Any thought on this?

[2018-10-26 20:10] dozoisch opened #21 "Can only use lower 16 bits for requestCode"
This line that was added uses a 32bit code which is not valid in support mode. See https://stackoverflow.com/questions/51714157/startactivityforresult-crashes-while-startactivity-works/51714241

https://github.com/prscX/react-native-photo-editor/blob/master/android/src/main/java/ui/photoeditor/RNPhotoEditorModule.java#L23

[code]

Similar issue was reported on another react-native repo:
https://gi

[2018-10-26 21:45] #21 closed

[2018-10-26 21:55] prscX commented on #20
Thanks @aurimas535 for raising the query.

I completely agree with your concerns. Personally I have made multiple efforts in order to simplify the setup process but with no success. For time being this is the only setup process we have until someone shares a better way of doing the same.

P.S: This problem happens only when we try to integrate Swift library in Objective-C project.

Thanks
</ Prana

[2018-10-28 05:12] #20 closed

[2018-11-05 08:30] d2luu commented on #14
@prscX here is stack trace on Xcode:
<img width="917" alt="screen shot 2018-11-05 at 5 26 53 pm" src="https://user-images.githubusercontent.com/14581772/47986445-20c84900-e120-11e8-9caa-5d108560a393.png">
It only happen in ios 10 although my Info.plist had NSPhotoLibraryUsageDescription.

[2018-11-05 08:32] d2luu commented on #14
And other question, is this library only work on android with API > 27?
I have a Samsung galaxy note FE, with Android 8.0 but photo editor not work.

[2018-11-08 09:55] d2luu opened #23 "Can't display and save image taken by RNCamera on Android"
I installed my app on Samsung galaxy note FE (real device), with Android 8.0 (API 26), my app get the image taken by react-native-camera but the photo didn't display in Editor View instead of a black screen. I also try press save the image (full black image) but Editor View close without being able to save.
![screenshot_20181107-111617](https://user-images.githubusercontent.com/14581772/48107171-d

[2018-11-09 05:07] d2luu commented on #23
I found why the black screen display on EditorView. Its because the path of image taken by RNCamera contain 'file://', so I fix my code to:
[code]
But I have another problem. The image now display on Editor View but it was rotated to horizontal:
<img width="328" alt="screen shot 2018-11-09 at 2 03 23 pm" src="https://user-images.githubusercontent.com/14581772/48244266-43ac7300-e428-11e8-8d2e-3d14b

[2018-11-09 07:43] d2luu commented on #14
@prscX
I found why the image can't save on ios 10. It's because ios 10 need NSPhotoLibraryUsageDescription, not ~~NSPhotoLibraryAddUsageDescription~~. So in order to save image on ios 10, must add below properties on Info.plist:
[code]

**But *layout issue* still exist on ios <= 10**

[2018-11-09 08:31] prscX commented on #14
Thanks @d2luu for sharing the solution. Can you please share PR of the same.

Thanks
</ Pranav >

[2018-11-21 10:43] suijunqiang opened #25 "npm install fail"
this is my reproduce steps & npm error log as bottom:
0, git clone https://github.com/prscX/react-native-photo-editor.git
1, cd react-native-photo-editor
2, npm install
(by the way, my npm --version 5.3.0)

husky
setting up Git hooks
done

sh: code: command not found
npm WARN react-native-photo-editor@0.0.6 license should be a valid SPDX license expression

npm ERR! file sh
npm ERR! code ELIFECYCL

[2018-11-22 03:39] dhung133 commented on #23
I got the same issue, any solution on this?

[2018-11-23 01:19] suijunqiang commented on #25
The issue has been fixed by installing VSCode & linking code into $PATH;

But after that, still throw other npm install errors as below:

 husky@0.14.3 install /Users/SJQ/Desktop/dev/rn/react-native-photo-editor/node_modules/husky

husky
setting up Git hooks
done

Extension 'dbaeumer.vscode-eslint' is already installed.
Found 'esbenp.prettier-vscode' in the marketplace.
Installing...
Extension 'es

[2018-11-23 03:05] suijunqiang commented on #25
Finially, the Example able to build successful on XCode 9.4.1, but it is crash after lunching with the error as below:
dyld: Library not loaded: @rpath/iOSPhotoEditor.framework/iOSPhotoEditor

[2018-11-23 03:08] suijunqiang commented on #25
full crash log:
dyld: Library not loaded: @rpath/iOSPhotoEditor.framework/iOSPhotoEditor
  Referenced from: /Users/SJQ/Library/Developer/CoreSimulator/Devices/E6118C81-B41E-4C91-8004-617D61681883/data/Containers/Bundle/Application/1B41BEEE-D9C7-4C7B-B6AC-EAE27FF9EA0D/Example.app/Example
  Reason: image not found

[2018-11-23 16:55] maint14 opened #26 "iOS Stickers"
Hi,
I noticed that on ios when I try to add a sticker to the image, it shows me two pages, the first one empty. Is it possible to add stickers on that page? If so how?

[2018-11-25 22:09] silvaSenna opened #27 "Image does not open on android"
Copy your sample to test your application, test it on my phone
the same did not open the image to edit, could you help me?

import React, { Component } from 'react';
import {
  Platform,
  StyleSheet,
  Text,
  View,
  TouchableOpacity,PermissionsAndroid
} from 'react-native';
import resolveAssetSource from "react-native/Libraries/Image/resolveAssetSource";

import { RNPhotoEditor } from 'react-na

[2018-11-26 01:09] suijunqiang commented on #25
Hello, @prscX

Thanks for your support, you project works fine now.

After settings & buildings as above, re checkout your ios code by git then use xcode 9.4.1/10.1 open and building directly it will work correct on my IPhone.

Any way, it's a very good project, how ever it is implement all functions by native level so it's hard to custom by js in our own project.

Thanks & Best Regards
Sui

[2018-11-26 07:41] d2luu commented on #26
You can place sticker images to Resources folder under your project in Xcode.
![screen shot 2018-11-26 at 4 39 05 pm](https://user-images.githubusercontent.com/14581772/48999433-04a54e00-f19a-11e8-87f5-865d2524eee1.png)

[2018-11-26 09:41] maint14 commented on #26
My mistake, the array stickers for the edit method were missing

[2018-11-26 09:41] #26 closed

[2018-11-28 05:47] d2luu commented on #23
I was created PR to fix save image on Android.
The problem `Image was rotated to horizontal on Editor after taken by RNCamera` can solve by add property `fixOrientation: true` into options of RNCamera. So now js code become to:
[code]
I hope it can help.

[2018-11-30 16:56] maint14 opened #29 "PhotoEditor bug?"
Hi,
Developing this library I noticed that when an image with a filter is given to the editor (for example: if an image with a negative filter is passed to the editor) when the editor modifies the image, reapply the same filter on the image (therefore in the example above, the image returns unfiltered because the negative filter is reapplied on the negative image but the stickers are filtered)
Is

[2018-12-06 09:38] nikamamruta opened #30 "can't open the editor after click text"
app carshes after click text click..without any error

[2018-12-10 01:08] #23 closed

[2018-12-12 18:56] jothikannan opened #31 "can't read property 'Edit' of undefined"
When I try to Edit an image it says  can't read property 'Edit' of undefined

<img width="423" alt="screen shot 2018-12-13 at 12 24 51 am" src="https://user-images.githubusercontent.com/4100047/49891887-a3ee6480-fe6d-11e8-8cd3-f31a1361cdae.png">

[2018-12-13 07:45] SimonDrew2018 opened #32 "Crop missing on Android"
Not sure if this is the same as one of the closed issues so apologies if it is. There is no option for cropping on Android. I've tested on 3 different Android devices & the simulator but all are the same.

RNPhotoEditor.Edit({
  path: response.path,
  hiddenControls: ['save'],
  onCancel: () => { Actions.pop() },
  onDone: () => { Actions.refresh({ key: Math.random() }) }
});

I've read through th

[2018-12-13 10:32] jothikannan opened #33 "Prevent file saving to cameraRoll"
Is there any way to save the Edited image to a particular folder/App, currently it saving on both given file path and also saving on cameraRoll too. So images are available in both the places.

Just think that I am developing an App that has camera and gallery feature to capture and save photos inside the app only, and additionally, I want to add this Editing feature too. In this case, Edited imag

[2018-12-18 10:37] endysar opened #34 "Error when compiling on android"
This is what i get when i run command react-native run-android

...\node_modules\react-native-photo-editor\android\src\main\java\ui\photoeditor\RNPhotoEditorModule.java:6: error: cannot find symbol
import com.facebook.react.bridge.BaseActivityEventListener;
                                ^
  symbol:   class BaseActivityEventListener
  location: package com.facebook.react.bridge
D:\Data\React-Nati

[2018-12-21 08:18] #14 closed

[2018-12-24 11:15] dinesh-rudra opened #35 "Crop Option"

[2018-12-24 11:16] dinesh-rudra commented on #35
There is no crop option available.
Rest is good.

[2018-12-28 03:01] guoliang1206 commented on #19
so this issue still not be fixed ?

[2018-12-28 05:19] 2b-dev opened #36 "Can't save image in same android device"
Can't save an image in some android device.

[2019-01-02 21:08] j0araya opened #38 "Adding text deletes the previous drawing"
Hello, thanks for this repo.

I have this problem: after draw in the photo, then when I add text the previous drawing is deletes.

Tested on two different android devices with same results.

"react-native": "0.55.4"
"react-native-photo-editor": "0.0.7"

![20190102_175126](https://user-images.githubusercontent.com/11578634/50612590-373d1780-0eb9-11e9-96a2-f37cf6088294.gif)

[2019-01-07 09:59] bharatidudhjiya commented on #2
I have same issue with **ImagePickerIOS**
There is any one to solved this issue.

Thanks!

[2019-01-07 10:08] hieupaul commented on #19
I'm facing same issue.
I'm using with another lib to choose an photo, then edit it but after that I receive an image before edit.

[2019-01-07 14:15] jdestep93 commented on #19
Its probably a race condition or permission issue within android. I havent been able to look into the issue lately

[2019-01-07 23:36] FrickenHamster commented on #27
I had this problem and managed to find a fix.
My image picker and camera returned an image path that started with
`file///`

I just stripped the prefix and it worked.

[2019-01-08 01:53] guoliang1206 commented on #19
For iOS, I have check the source code about this lib latest version. It did nothing when after edit photo, It returns nothing to JS. So we can't get the edited photo, I guess the android issue is same. Maybe you could try to fix it. I have create a PR but no one check and merge it.

[2019-01-10 21:01] #36 closed

[2019-01-15 19:10] aurimas535 commented on #38
This is potentially fix https://github.com/aurimas535/react-native-photo-editor/commit/390c02fbf1e107b19f1da863d68e1c7f351dbf29

[2019-01-17 19:12] ZeitounCorp commented on #27
Hey There I am not sure on how to strip the prefix could you tell me more on this please  @FrickenHamster

[2019-01-17 19:13] FrickenHamster commented on #27
For me, the path being passed in started with
`file///` on android. I took that part out of the path string and it worked for me.

[2019-01-17 20:03] bmcn99 opened #39 "Save button does not save , -> button however does save without opening up cropping tool"
Version 0.0.7
Testing on Android (Nexus 5X Api 28 x86 Emulator, and Samsung A5 real phone)

I tried to clone the project from git here and run the example so that all the code being used was known but cannot do an 'npm install' on the project folder since it fails on pod-installer stuff, so I don't think I can run it on Windows?

Anyway I call the editor with the following code:
    `RNFS.exists(R

[2019-01-17 20:07] bmcn99 opened #40 "White text turns to black once you hit 'Done'"
Version 0.0.7
Testing on Android (Nexus 5X Api 28 x86 Emulator, and Samsung A5 real phone)

Once you click on the enter text button and start typing text you have the option to make the text color white. This works until you hit done and the text is placed on the canvas and can be dragged around, at which point it reverts to being the default black.

[2019-01-17 21:01] bmcn99 commented on #40
I wanted to jump in and fix this as it seemed like it would be relatively simple, like the addTextEditText.setTextColor(colorCode == -1 ? getResources().getColor(R.color.white) : colorCode); workaround used on line 312 in PhotoEditorActivity.java.

However I am completely unable to find where the functions for 'photoEditorSDK.addText(text, colorCodeTextView);' and other photoEditorSDK functions ar

[2019-01-18 16:34] bmcn99 commented on #40
The work-around I'm using for now:

`private void addText(String text, int colorCodeTextView) {
        photoEditorSDK.addText(text, colorCodeTextView == -1 ? getResources().getColor(R.color.so_close_to_white): colorCodeTextView);
    }`

If colorCodeTextView  == -1, which is #FFFFFF I just change it to #FFFFF**E**, since I don't know how to access the addText function or where the photoEditorSDK

[2019-01-23 11:55] yasirdev commented on #27
I'm unable to generate release build for android, error occurred for duplicate resources.

Can anyone please help!

[2019-01-24 18:07] prscX commented on #32
Thanks @SimonDrew2018 for raising the issue.

Crop functionality is only supposed for iOS on Android it is not supported.

Thanks
</ Pranav >

[2019-01-25 15:04] DavitVosk commented on #5
@nbadag can you please share some code? I don't understand how find the path of the changed image

[2019-01-26 07:37] DavitVosk commented on #32
@prscX can you please advice whether you plan integration image cropping into Android as well?

@SimonDrew2018 how did you solve the problem with image cropping?

[2019-01-26 08:54] prscX commented on #32
Hi @DavitVosk: This library has a native dependency on [photo-editor-android](https://github.com/eventtus/photo-editor-android) which does not support the crop functionality on Android. Looking at the repo, I think the work is stalled.

Considering effort, challenges and bandwidth, at moment, I don't think I have space of enabling this feature, however please feel free to share PR in case you enab

[2019-01-28 19:21] SimonDrew2018 commented on #32
Thanks @prscX works perfectly on iOS, appreciate it!

@DavitVosk for iOS I use react-native-photo-editor as everything works. For Android I use react-native-image-crop-picker, crop the image and then pass through the cropped image to react-native-photo-editor to edit the image. It actually works pretty well!

[2019-01-28 19:22] #32 closed

[2019-01-31 03:46] dqhung311 commented on #30
Please ensure your image is exist

[2019-02-11 11:59] Tenkensui opened #41 "NativeModules returns empty object in iOS"
Hello!

I have made an implementation following the available example and it works perfectly in Android but in iOS the `const { RNPhotoEditor } = NativeModules;` from RNPhotoEditor.js always evaluates to null because NativeModules is an empty object.

I have taken a look to the swift code on the RNPhotoEditor.m and the modules seems to be exported correctly so I really have no clue of what could b

[2019-02-25 08:39] ahadali commented on #35
Yes I also found the same issue, all the options were appearing except the crop one. @prscX  do we have to install separate library for crop?

[2019-02-25 15:40] prscX commented on #35
Hi @ahadali: As part of Android native library integration, it does not have support for Crop functionality. It is supported only on iOS. I believe, someone from community have integrated a separate Crop library to achieve the same.

-> Once the picture is edited through the library you can use third part crop library to achieve the same.

Thanks
</ Pranav >

[2019-02-26 06:08] ahadali commented on #35
Thanks @prscX  for your response.

[2019-02-28 10:09] Tenkensui commented on #41
Hey, have you figured out anything about this?

[2019-03-02 07:27] HectorQuinonesBarrios commented on #27
Im using expo camera and passing the resulting uri, but i can't get it to work, no matter how i strip the `file///`

[2019-03-02 13:19] prscX commented on #27
Hi @HectorQuinonesBarrios: Try by moving captured image to App sandbox and then pass file path to the same. You can use RNFS to achieve the same.

Thanks
</ Pranav >

[2019-03-02 13:21] prscX commented on #41
Thanks @Tenkensui for raising the issue.

This happens when installation steps might got missed. Could you check README and try the same, please.

Thanks
</ Pranav >

[2019-03-03 15:49] ranchhodrathod89 opened #44 "Canvas.CLIP_SAVE_FLAG Error"
Canvas.CLIP_SAVE_FLAG Error in react native version 0.58.6 with compileSdkVersion 28 and buildToolsVersion '28.0.2'
![screen shot 2019-03-03 at 9 18 35 pm](https://user-images.githubusercontent.com/8505328/53697696-00707880-3dfa-11e9-8d3a-207ef9bdc04d.png)

[2019-03-11 05:04] naoey commented on #44
I'm not too familiar with Android's Canvas and what the save flags imply, but after the deprecation of these flags in platform 28 replacing `canvas.save(Canvas.CLIP_SAVE_FLAG)` with `canvas.save()` seems to work fine as far as the photo editor's functionality is concerned. I am currently using a local version of this package with this change.

Any ETA on when this issue will be resolved in this pa

[2019-03-14 03:08] d2luu opened #45 "iOS: save image when permission denied"
@prscX
I deny `save to library` permission on iOS when press save button but it still alerts `Image Saved`.
I fixed it in `PhotoEditor+Controle.swift` file under Pods/iOSPhotoEditor folder for myself.
How can I make a PR with change to swift file in iOS? Because all file in **ios/Pods/*** was ignored in .gitignore so I can't.

[2019-03-19 14:13] ZeitounCorp opened #46 "Issues on android versions lower than 5.0"
Well hello there,
First of all I wanted to thank you for this amazing module @prscX
I am now facing some issues for android versions lower than 5.0, especially for version 4.4.4, When trying to open my app i am getting this error:
17:03:56 E AndroidRuntime : FATAL EXCEPTION: Thread-908
17:03:56 E AndroidRuntime : Process: com.keepflash.application, PID: 14537
17:03:56 E AndroidRuntime : java.lang.

[2019-03-20 05:25] naoey opened #47 "Install from CocoaPods"
I recently migrated my project away from using libraries (including React) linked to my Xcode project, instead including everything through the CocoaPods workspace. Since then I have been unable to use this library on iOS because the current setup only seems to link to the Xcode project. Due to this the React header files don't get resolved when building with this library since they are in the Pod

[2019-03-21 01:42] saxs4x opened #48 "Modified Picture on onDone"
Is it possibile to have the modified image returned as an argument of the onDone callback? It's vital to me.

[2019-03-29 12:48] AKcrisAshish opened #49 "null is not an object(evaluating RNPhotoEditor.Edit)"
This is my code :

import React, { Component } from 'react';
import { Text, Image, Platform,TouchableOpacity } from 'react-native';
import { RNPhotoEditor } from 'react-native-photo-editor';
import RNFS from 'react-native-fs';
import Cam from 'react-native-vector-icons/FontAwesome';
import Photu from 'react-native-vector-icons/FontAwesome';
import Collage from 'react-native-vector-icons/FontAwesom

[2019-03-29 12:56] PrakharTU commented on #49
change ` path: RNFS.DocumentDirectoryPath + "/photo.jpg",` to ` path: RNFS.DocumentDirectoryPath + "/back.jpg",` in `RNPhotoEditor.Edit()`

[2019-03-29 13:12] AKcrisAshish commented on #49
I have done it . but getting a new error
"null is not an object(evaluating 'RNFetchBlob.DocumentDir')

[2019-03-29 13:17] PrakharTU commented on #49
Did you use
`react-native link`

[2019-03-29 13:19] AKcrisAshish commented on #49
yes I am  done with every installations and linkings

[2019-03-29 15:04] AKcrisAshish commented on #49
![Screen Shot 2019-03-29 at 8 32 04 PM](https://user-images.githubusercontent.com/48308108/55241828-f78c8e80-5261-11e9-8b2d-68fb73f31575.png)

[2019-04-05 18:06] cdan1995 commented on #48
+1
I need feature. Please

[2019-04-08 12:23] yankovalera opened #50 "Install error (iOS)"
Hi, I'm trying to install this module, but after checking that node_modules/react-native-photo-editor/ios/pods/Pods.xcodeproject is missing, when running "pod install" command on "node_modules/react-native-photo-editor/ios/" I'm getting this.

Installing iOSPhotoEditor (0.5)
[!] Unable to determine Swift version for the following pods:

- `iOSPhotoEditor` does not specify a Swift version and none

[2019-04-08 13:26] prscX commented on #50
Thanks @yankovalera for raising the issue.

It is a know issue. I need to apply the fix to this library. Meantime please downgrade your pod version to 1.5 and below.

Thanks
</ Pranav >

[2019-04-08 13:44] yankovalera commented on #50
thanks. Downgraded and was able to install it.

[2019-04-09 09:53] AKcrisAshish commented on #27
try this:
image.path.replace('file://','')

I am sure that It will help you .

[2019-04-11 13:47] RZulfikri commented on #48
@cdan1995 @saxs4x try and test my fork.

[2019-04-22 17:00] DavitVosk opened #52 "Photo editor is not opened when trying to open from opened modal"
I am using react-native-navigation. And there is an opened modal with `navigator.showModal`. On modal screen, there is a button which opens the phone media and the user chooses one image. After the image is chosen I want to open the photo editor to edit the picked image, but it does not do anything at all. Can you please help me to find a solution?

To note, it properly works on a normal screen, n

[2019-04-23 06:13] DavitVosk commented on #52
Some warning which I noticed on xcode which will help I hope:
`Warning: Attempt to present <iOSPhotoEditor.PhotoEditorViewController: 0x7feec100b600>  on <RCCTabBarController: 0x7feebe928200> which is already presenting <RCCNavigationController: 0x7feebd1a9e00>`

[2019-04-25 12:23] cristianoccazinsp opened #53 "Is CocoaPods really a dependency?"
Title... Is it possible to set up the library on IOS without cocoa pods?

[2019-04-29 12:23] DavitVosk commented on #52
@prscX could you please update for this issue?

[2019-05-01 09:33] vishnudbimcs commented on #44
thanks @naoey  this solved my issue

[2019-05-03 10:47] yankovalera opened #55 "Gradle Assemble issue"
Hi I'm trying to assemble a debug release but I'm getting the following error. Any ideas what could be happening?

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-photo-editor:processDebugAndroidTestResources'.

  /Users/user/.gradle/caches/transforms-1/files-1.1/appcompat-v7-28.0.0.aar/dc160fa7acf9caeaba5bf6be7601c9e9/res/values-v28/values-v28

[2019-05-03 18:12] cristianoccazinsp commented on #33
Figured it out? Have the same requirement.

[2019-05-06 12:33] DavitVosk opened #56 "Use custom icons"
Is it possible to use custom icons for example for done btn?

[2019-05-07 14:02] cristianoccazinsp commented on #55
Most likely related to hardcoded gradle android sdk versions. Gradle file should look like this instead.

[code]

[2019-05-07 14:38] cristianoccazinsp opened #58 "Build fail for SDK 28"
https://github.com/prscX/react-native-photo-editor/blob/master/android/src/main/java/com/ahmedadeltito/photoeditor/widget/SlidingUpPanelLayout.java#L1187

node_modules/react-native-photo-editor/android/src/main/java/com/ahmedadeltito/ph
otoeditor/widget/SlidingUpPanelLayout.java:1187: error: cannot find symbol
        final int save = canvas.save(Canvas.CLIP_SAVE_FLAG);

The above uses something r

[2019-05-10 08:48] ejkkan commented on #6
any plans in implementing this?

[2019-05-10 09:07] d2luu commented on #58
Fixed in this [PR](https://github.com/prscX/react-native-photo-editor/pull/54/commits/89fd29465f8f9a2883d3ddbf407c15ebbdf75658)

[2019-05-14 03:30] cactis opened #59 "Is it possible to load stickers from remote?"
Hi,

Too much stickers will increase app arcthive size, and if need to build a sticker markets, it will need to list stickers(set) form remote.

thanks.

[2019-05-22 09:14] CrisHemswerthThor opened #60 "Stickers Page is empty in iOS"
I am getting an empty page of Stickers Page  in iOS ,and in case of android stickers are shown properly.

**versions:**
react-native: 0.59.3
react-native-photoeditor: 0.0.7

[2019-05-23 12:32] CrisHemswerthThor commented on #40
please give some solution on this issue.

[2019-05-27 13:58] SimonDrew2018 commented on #40
Can you paste your code?
Thanks.

[2019-06-03 02:00] jcarlosjl commented on #5
Actually on iOS when saving the edited image it is stored in a different path. Does someone have the same problem?

[2019-06-03 12:19] ssg-luke commented on #52
#63

[2019-06-07 14:43] rendomnet commented on #6
Any updates on this?

[2019-06-12 10:30] babar7 opened #68 "Where i get manipulated image when done editing"
Where i get manipulated image when onDone editing ? onDone callback not returns any source, url , path. I Have to show the manipulated image on the screen after done Editing, with uploading it again. If user does some mistake so that they can edit it again by clicking on icon.
![Simulator Screen Shot - iPhone 7 Plus - 2019-06-12 at 15 28 21](https://user-images.githubusercontent.com/26044457/59344

[2019-06-13 01:48] prscX commented on #68
@babar7: it modify and save the image at the same location.

Thanks
</ Pranav >

[2019-06-18 12:55] vedbhawsar commented on #27
I am facing this same issue. My image picker gives me a path something like this:
`    content://com.android.providers.media.documents/document/image%3A69315`
I am calling the edit function like this:

[code]

can someone suggest a solution?

[2019-06-24 09:07] sachinbasendr opened #69 "I have following error on run time"
Could not find com.github.prscX:photo-editor-android:master-SNAPSHOT.
  Searched in the following locations:
    - file:/home/user/Android/Sdk/extras/m2repository/com/github/prscX/photo-editor-android/master-SNAPSHOT/maven-metadata.xml
    - file:/home/user/Android/Sdk/extras/m2repository/com/github/prscX/photo-editor-android/master-SNAPSHOT/photo-editor-android-master-SNAPSHOT.pom
    - file:/hom

[2019-06-24 16:49] vedbhawsar opened #70 "Task :react-native-photo-editor:verifyReleaseResources FAILED"
I am getting this issue when generating APK file, debug mode work perfect.

[code]
Below are the warnings I am receiving before the error.

[code]

        buildToolsVersion = "28.0.3"
        minSdkVersion = 16
        compileSdkVersion = 28
        targetSdkVersion = 28
        supportLibVersion = "28.0.0"

        classpath 'com.android.tools.build:gradle:3.3.1'

does anyone has some solution?

[2019-07-01 19:20] Tyldar commented on #60
Have you added stickers in the xCode project as stated in the documentation?

[2019-07-03 13:39] DavitVosk commented on #35
@ahadali what cropping package do you use for Android please?

[2019-07-03 13:42] DavitVosk commented on #32
Hi @SimonDrew2018, unfortunately it will not work for me. I need custom aspect ratio here

[2019-07-03 18:55] babakansari commented on #58
@d2luu - Do you know if the fix is included into the latest `react-native-photo-editor` package?

[2019-07-04 03:27] d2luu commented on #58
@babakansari - It seems to this PR still not merged to master branch. So the fix is not reflected into the latest `react-native-photo-editor` package yet.
@prscX - Can you verify it?

[2019-07-04 13:25] babakansari commented on #58
@prscX - Yes, it's not been merged yet. I forked the fix:
`yarn add prscX/react-native-photo-editor#54/head`
Thanks!

[2019-07-05 11:36] fpintaric commented on #68
It would be much more useful if the onDone callback provided the new path of the image instead of just saving it in gallery under an unknown name.

[2019-07-06 18:01] ahadali commented on #35
Hi @DavitVosk you can use React Native Image Crop Picker. Here is the link for that https://www.npmjs.com/package/react-native-image-crop-picker/v/0.4.2

[2019-07-09 19:15] babakansari commented on #68
Not sure why the following code is not saving the modified image?

`RNPhotoEditor.Edit({
        path: '/storage/emulated/0/Pictures/Bob.png',
        stickers: [
          'sticker0',
          'sticker1',
          'sticker2',
          'sticker3',
          'sticker4',
          'sticker5',
          'sticker6',
          'sticker7',
          'sticker8',
          'sticker9',
          'sticke

[2019-07-12 10:25] antoniomdk commented on #49
I have the same problem, Did you fix it?

[2019-07-14 12:30] AmmarAshfaq commented on #27
same issue

[2019-07-14 13:49] AmmarAshfaq commented on #68
it doesn't save in the same location after edit and better if onDone method return URL

[2019-07-15 13:09] babakansari commented on #68
It saves in a folder with different file names and save the same Image with the right arrow key!

[2019-07-22 08:04] samuelgjabel opened #74 "Change ui"
Ability to change UI?

[2019-07-22 10:44] RDardelet opened #75 "Cannot disable emoji stickers ?"
Is there no way to disable the emoji stickers ?

I wish to make an app with only some specific stickers, and so far the first page of the stickers picker only shows my custom pickers, but I can't figure out how to disable the second page, with the emoji

[2019-07-23 16:33] AhmedAliIbrahim commented on #49
anyone find a solution for this issue ?

[2019-07-24 08:23] prscX commented on #70
Thanks for raising issues. What RN version are you using?

Thanks
</ Pranav >

[2019-07-25 13:31] vedbhawsar commented on #70
This is what `react-native --v` has displayed..
[code]

[2019-07-27 18:11] AhmedAliIbrahim opened #76 "Cannot read propert 'Edit' of undefined"
Hello,
I've installed the package and everything is working fine on Android, but on iOS i keep getting `Cannot read propert 'Edit' of undefined`  is there a way to fix this ?

I'm using RN 0.60

[2019-07-28 05:18] RZulfikri commented on #35
@dinesh-rudra @ahadali @DavitVosk can you test my PR?

[2019-07-28 05:46] vinpro24 commented on #76
I also have same issue. Did you fix it?

[2019-07-31 03:48] bamaarintoko commented on #49
anyone fixed this?

[2019-08-05 05:59] vinpro24 commented on #76
Any idea to resolve?

[2019-08-05 06:55] kautsarajiw commented on #40
I got the same problem, but I tried changing the color code #FFFFFF to #FFFFFE and it worked.
default config in props :
`colors:['#000000','#808080', '#a9a9a9', '#FFFFFF', '#0000ff', '#00ff00', '#ff0000', '#ffff00', '#ffa500', '#800080', '#00ffff', '#a52a2a', '#ff00ff'],`

now :
`colors:['#000000','#808080', '#a9a9a9', '#FFFFFE', '#0000ff', '#00ff00', '#ff0000', '#ffff00', '#ffa500', '#800080', '#

[2019-08-06 14:45] momoleu opened #79 "Can't find image path when done editing"

[2019-08-08 17:22] se09deluca commented on #76
Same situation in iOS on React Native 0.60.4. Any help?

[2019-08-23 14:45] j0araya commented on #76
same issue here.
installation change?

I updated react from a new clean install and this package is the last one that i need, worked ok on android.

"react": "16.8.6",
"react-native": "0.60.5",

thnks.

[2019-08-30 07:20] #68 closed

[2019-09-02 11:32] babar7 opened #81 "Http url not opening in android"
on ios works perfect
http://360cubes.com/field_scope_staging/public/uploads/media/1566460450189-1566460492-394165210.jpg

it goes black and after edit on done it returns black edited image,

![Screenshot_1567423917](https://user-images.githubusercontent.com/26044457/64111891-35f12100-cd9f-11e9-8ef0-8ef5af3cb5f4.png)
![Screenshot_1567423921](https://user-images.githubusercontent.com/26044457/641118

[2019-09-02 11:43] RZulfikri commented on #81
@babar7 check my latest code. https://github.com/RZulfikri/react-native-photo-editor/tree/fix/detect-orientation. Or try to change this line https://github.com/RZulfikri/react-native-photo-editor/commit/8ee6a6b991d0fc605d4b1f255a089c372bf88270

[2019-09-02 12:44] babar7 commented on #81
@RZulfikri  Thanks for your quick response,
I tried both, but the response is still same,

Here is my sample of code :

editImage = () => {
    let imgPath = "http://360cubes.com/field_scope_staging/public/uploads/media/1566460450189-1566460492-394165210.jpg";
    RNPhotoEditor.Edit({
      path: imgPath,
      hiddenControls: ["sticker", "share"],
      onDone: this.onDoneEditing,
      onCancel:

[2019-09-02 12:56] RZulfikri commented on #81
hmm, I think you need to save your file to local first as temporary file, instead of directly pass it to editor.

[2019-09-02 13:08] babar7 commented on #81
Is there any possibility to convert url to uri , without saving into local ?

[2019-09-02 13:13] babar7 commented on #81
Also the  crop feature is not support in android ? and one other thing is that after markup if I try to write some text is clears the markup

[2019-09-04 06:09] MohdSaleh commented on #19
the photo will be saved in same path with given, I guess its overwriting the same image file.

[2019-09-04 06:13] MohdSaleh opened #82 "Separate functions for every editing options"
How to make every function with different options, so it will be easy to customise the editor looks completely and also it is possible to use react as its frontend.

[2019-09-05 11:47] raginisahu commented on #81
Did you find any solution ?
please help me out

[2019-09-05 13:02] babar7 commented on #81
@raginisahu The only solution is to save the file to local as tem file , then pas the uri, Im using the RNFetchBlob for this,
let urlToFetch = imageSource.url
      RNFetchBlob
        .config({
          fileCache: true,
          appendExt: 'jpg'
        })
        .fetch('GET', urlToFetch, {
          //some headers ..
        })
        .then((res) => {
          // the temp file path with fil

[2019-09-16 12:51] BaderSerhan opened #83 "Video Support"
Hello and thanks for the great effort in this library!

I want to build a photo and video editor in my app (similar to apps like Instagram and TikTok), but I am finding the editor libraries in react-native are very scarce, especially for video. I would like to be able to add text, gifs, effects, filters... to videos and then save/upload them to the server.
Thus, are you planning to support videos

[2019-09-17 15:33] luifer94 opened #84 "configuration project alternative for ios"
I am new on RN I have no experience on iOS, so when triying to install the library for IOS I got the message: "coudnt inspect application package" and that problem was solved by removing iOSPhotoEditor.framework from Embedded Binaries BUT another problems starts appearing similar to this: https://github.com/prscX/react-native-photo-editor/issues/25#issuecomment-441148106

So what I did was:
1) rea

[2019-09-17 15:45] luifer94 commented on #84
Got the next message: https://github.com/prscX/react-native-photo-editor/issues/49

[2019-09-18 15:45] shiva5538 commented on #84
@luifer94 , can you please explain step no: 3 in detail.

[2019-09-21 21:31] maherzaidoune opened #85 "android build fail"
hey, first of all, thank you for sharing this awesome library with the community.
i tried to build my project after adding react-native-photo-editor and it fail, your example fail to build too, i got this error :

* What went wrong:
A problem occurred configuring root project 'Example'.

     Required by:
         project : > com.android.tools.build:gradle:3.2.1 > com.android.tools.build:builder:3

[2019-09-25 03:55] NathanOelke commented on #85
I am experiencing this same problem as well.

[2019-09-28 04:28] NathanOelke commented on #76
I am having this same problem with both React Native 0.6 and 0.61. It looks like the npm package has not been updated in 10 months and does not include more recent PRs.

[2019-09-30 00:01] sblondell commented on #85
Try this.
Go to the build.gradle of the react-native-photo-editor in your node_modules folder.

node_modules > react-native-photo-editor > android > build.gradle

make sure the "maven { url 'https://jitpack.io' }" entry is the last entry in the repositories list

[2019-10-01 18:49] hoonblizz commented on #49
I endedup here. Any solution yet?

[2019-10-03 10:17] eugenepla commented on #84
@luifer94 There is no Podfile anymore in ios dir
is there an updated guide on how to connect?

[2019-10-03 10:18] eugenepla opened #86 "Obsolete iOS guide"
Current guide on how to connect iOS is obsolete
https://github.com/prscX/react-native-photo-editor#-getting-started

There is no Podfile anymore in ios dir
is there an updated guide on how to connect iOS?

[2019-10-03 20:38] milansusnjar opened #87 "Editor is on swipe-to-dismiss modal on iOS 13"
On iOS 13 editor is on swipe-to-dismiss modal and we cannot draw line, it is trying to swipe modal down.

![qaoIQfjaeJ](https://user-images.githubusercontent.com/19948979/66162357-7b1ea200-e62e-11e9-9375-ba029507f355.gif)

[2019-10-04 02:24] karn18 commented on #87
ios 13, default modal presenting is page sheet. Not fullscreen like ios 12

I add this code in RNPhotoEditor.m, to fullscreen the modal

[code]

[2019-10-10 13:32] codelayerorg opened #90 "How to edit and add texts programmatically?"
Sorry if this space is not for that. I'm not figuring out how to edit previously added texts, is it possible? Also... Is it possible to load an image, adding programmatically predefined texts (without user interation, but which should be possible to edit by user later)?

[2019-10-13 08:47] #85 closed

[2019-10-15 04:39] hieupaul opened #91 "[iOS] Compile Swift failed"
Hi, I have an issue when build project:

**BUILD FAILED**
CompileSwift normal arm64
'keyboardAnimationDurationUserInfoKey' has been renamed to 'UIKeyboardAnimationCurveUserInfoKey'
...

I see it change in your commit [- swift 5 support](https://github.com/prscX/photo-editor/commit/4924e9ec984d25d03644e58aa148282642171de9#diff-ad0f4c51a1b36c41e74e4e23b1786c6b) ??

Version:
RN 0.59.8
RNPE 0.0.7

Tha

[2019-10-15 13:16] kataloo commented on #79
It is saved to the same path supplied in `RNPhotoEditor.Edit`

[2019-10-21 06:02] aldrinc commented on #56
Also interested in this

[2019-10-23 05:30] guoliang1206 commented on #91
same issue when update react-native to 0.60.0

[2019-10-23 10:25] #81 closed

[2019-10-24 17:12] vinpro24 commented on #91
Same issue? Any idea, pls

[2019-10-26 19:06] Alek-devsy commented on #91
I have the same issue.
xcode 11.1
RN 0.59.9
RNPE 0.0.7
I got a bunch of errors like this (only from this library)

[2019-10-29 21:09] saxs4x commented on #49
This doesn't work in android too. Any solution? someone managed to make it work?

[2019-10-31 23:51] ramondelmondo commented on #19
I'm facing same issue.
I'm using another lib to choose an photo (react-native-image-picker), then edit it but after that I receive an image before edit.

My image uri is like: file:///var/mobile/Containers/Data/Application/58ED7459-1CAC-4B3C-A13A-96DD68CA3462/Documents/images/9F3561AD-A340-442F-8BF9-7141A23170EC.jpg

Please someone can help me?

[2019-11-07 10:58] shiva5538 commented on #75
Hi, You achieved this? If yes, please let me know how. Thanks in adv.

[2019-11-10 08:29] DaveLomber commented on #91
Same here
I got 100 errors when upgraded the lib from 0.7.0 => 1.0.0

[2019-11-12 09:25] arjundalal opened #93 "react-native-photo-editor giving Linking error while run the project"
When we install react-native-photo-editor library on IOS react native it will give linking error please help me to solve it. the error is as follows
![Screenshot 2019-11-12 at 2 54 59 PM](https://user-images.githubusercontent.com/54262572/68658960-6ce07180-055c-11ea-935a-53724f2553b4.png)
please help me tp solve this error.

[2019-11-12 10:54] DarkbaronHUST commented on #93
+1 same issue! is there any way to install library on IOS with cocoapods ?
I'm using RN 0.60.
If we have to link library manual, please tell me know exact steps? the instruction seem not work for me :(
Thanks all !

[2019-11-14 11:03] DarkbaronHUST commented on #93
Did U find how to slove this issue. It's work fine on Android, but I can not make its work ! pls help !

[2019-11-14 11:06] arjundalal commented on #93
No i am not able to solve this issue
Please help me

On Thu, 14 Nov 2019, 4:33 pm Darkbaron, <notifications@github.com> wrote:

[2019-11-14 11:17] DarkbaronHUST commented on #93
i'm able to get throw this error by adding :
  pod 'RNPhotoEditor', :path => '../node_modules/react-native-photo-editor/ios'
  use_frameworks!
  pod 'iOSPhotoEditor', :git => 'https://github.com/prscX/photo-editor', :branch => 'master'
to Podfile, then run pod update
(if u get error when run app, its because libraris conflict when use_frameworks! ==> Add s.static_framework = true to podspec to get

[2019-11-15 11:22] DarkbaronHUST opened #94 "react-native-photo-editor not work with Cameraroll"
I'm new with react! please help !

I'm using @react-native-community/cameraroll to get information of photo, then edit photo by react-native-photo-editor on iOS.

But the photo's uri return from @react-native-community/cameraroll
(ph://ED7AC36B-A150-4C38-BB8C-B6D696F4F2ED/L0/001) does not compatible with the  path Props of react-native-photo-editor,. Then MyApp crash.
I'm trying to get another fom

[2019-11-19 10:17] #87 closed

[2019-11-24 20:03] beobungbu commented on #93
right after main target at pod file, yu can add this to fix that problem:
pre_install do |installer|
Pod::Installer::Xcode::TargetValidator.send(:define_method, :verify_no_static_framework_transitive_dependencies) {}
end

[2019-11-24 20:10] beobungbu commented on #93
1. Double check your Pod file and make sure you have removed the "#" sign before "use_frameworks!"
2. make sure you have added the below code to your pod file.
[code]
3. run `pod update `
4. in case of getting error like
` The 'Pods-xxxxx' target has transitive dependencies that include statically linked binaries: `
So you can easily fix it by adding the code below to your `xxxxx` target in your p

[2019-12-01 04:00] prscX commented on #94
Thanks @DarkbaronHUST for raising the issue.

This library supports editing photos which are within app sandbox. You need to move captured file to app sandbox then use that path with this library.

Let me know in case it does not works

Thanks
</ Pranav >

[2019-12-01 04:00] #94 closed

[2019-12-01 04:50] prscX commented on #91
Thanks @hieupaul for raising the issue. Could you please try again by adding below statement to your app `Podfile`:

[code]

P.S: Also please upgrade RN to 61 and try since it has a better support for `use_frameworks!`

Thanks
</ Pranav >

[2019-12-01 04:52] prscX commented on #93
Thanks @arjundalal for raising the issue.

I have updated installation steps, could you please try this with RN61, since it has better support for `use_frameworks!`.

Thanks
</ Pranav >

[2019-12-01 05:04] arjundalal commented on #93
Hiii Pranav and all
Till i am getting the same issue  can any one help me to solve this issue.

Regards,
Arjun Dalal.
On Sun, 1 Dec 2019, 10:22 am Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2019-12-01 05:06] prscX commented on #90
Thanks @codelayerorg for raising query.

I am afraid to share above requested features are not supported.

Thanks
</ Pranav >

[2019-12-01 05:06] #90 closed

[2019-12-01 05:09] prscX commented on #86
Thanks @eugenepla for raising query.

Thanks
</ Pranav >

[2019-12-01 05:09] #86 closed

[2019-12-01 05:12] prscX commented on #83
Thanks @BaderSerhan for raising query.

I am afraid to share but Video editing is not in scope. It is not supported by native library we are using for photo editing. This library is simply a wrap around native available library for photo editing.

Do you know any native Android/iOS library for video editing?

Thanks
</ Pranav >

[2019-12-01 05:12] #83 closed

[2019-12-01 05:14] prscX commented on #84
Thanks @luifer94 for raising the query.

Could you please try by migrate your app to RN61 and upgrade library to `V1.*`. Let me know in case it . does not work.

Thanks
</ Pranav >

[2019-12-01 05:14] #84 closed

[2019-12-01 05:15] prscX commented on #74
Thanks @samuelgjabel for raising the query.

I am afraid to share but changing editor UI is not possible. This library is simply a wrapper around native photo editor library.

Thanks
</ Pranav >

[2019-12-01 05:15] #74 closed

[2019-12-01 06:26] prscX commented on #44
Thanks @ranchhodrathod89 for raising the issue.

This is fixed in the latest release `V1.*`. Please install latest version, let me know incase you still face the same issue.

Thanks
</ Pranav >

[2019-12-01 06:26] #44 closed

[2019-12-01 06:28] prscX commented on #50
@yankovalera: The issue was fixed in latest pod version.

Could you please install latest `V1.*` and verify the same. Let me know incase you still face any issues.

Thanks
</ Pranav >

[2019-12-01 06:28] #50 closed

[2019-12-01 06:29] prscX commented on #79
Thanks @kataloo for your response.

@momoleu: Edit saves the edited image to the same location passed for editing.

Thanks
</ Pranav >

[2019-12-01 06:29] #79 closed

[2019-12-01 06:31] prscX commented on #41
@Tenkensui: Could you please install latest version of library and verify [V.1*]. Please follow installation steps defined in README.

Let me know incase you still face similar issue.

Thanks
</ Pranav >

[2019-12-01 06:31] #41 closed

[2019-12-01 06:33] prscX commented on #35
Thanks @RZulfikri for the Effort and PR.

Latest version `V1.*` contains crop feature on Android as well. Could you please install latest version and verify the same. Let me know incase it does not work.

Thanks
</ Pranav >

[2019-12-01 06:33] #35 closed

[2019-12-01 07:21] prscX commented on #38
@aurimas535: I have pulled the suggested changes and pushed the release.

@j0araya: Thanks for reporting the issue. Please find fix in the latest release [V1.0.2]. Let me know incase it does not work.

Thanks
</ Pranav >

[2019-12-01 07:21] #38 closed

[2019-12-01 07:45] prscX commented on #47
Thanks @naoey for raising the issue.

It is fixed in the latest released version. Could you install and verify the same, please follow installation steps defined on `README`. Let me know incase you still face the same issue.

Thanks
</ Pranav >

[2019-12-01 07:45] #47 closed

[2019-12-01 07:47] prscX commented on #30
@dqhung311: Thanks for your response.

@nikamamruta: Please verify the image exist in app sandbox, sometime it has issues in writing the image but usually it should work. I would recommend to try this with latest release.

Let me know incase you still face same issue.

Thanks
</ Pranav >

[2019-12-01 07:47] #30 closed

[2019-12-01 07:49] #25 closed

[2019-12-01 07:57] prscX commented on #82
Thanks @MohdSaleh for raising the query.

This library is RN wrapper around native libraries providing capability for editing photo. I am afraid to share that it is bit difficult to customize it through React wrapper and moreover these native libraries does not have capability for custom UI/UX.

Thanks
</ Prana v>

[2019-12-01 07:57] #82 closed

[2019-12-01 08:00] prscX commented on #33
Thanks @jothikannan for raising the query.

This library supports editing images which are within app sandbox, however editing directly from cameraRoll functionality was enabled in one of the raised PR.

I would recommend to move image first from cameraRoll to app sandbox and then provide its path to this library, doing this it will not override the cameraRoll image.

Thanks
</ Pranav >

[2019-12-01 08:00] #33 closed

[2019-12-01 09:59] prscX commented on #76
Thanks for raising issue.

We weeks back I have enabled support for RN61 >=. Could you please migrate your project to RN61 and install latest version of library. Please follow installation steps for the same.

Let me know incase you still face the same issue.

P.S: RN60 not support by the latest version since RN60 has limitation of using `use_framework!` .

Thanks
</ Pranav >

[2019-12-01 09:59] #76 closed

[2019-12-01 10:01] prscX commented on #75
Thanks @RDardelet for raising query.

I am afraid but disabling sticker feature is not supported by the native library we have integrated for the photo editing.

Thanks
</ Pranav >

[2019-12-01 10:01] #75 closed

[2019-12-01 10:03] prscX commented on #70
@vedbhawsar: Could you please try the same using latest version of this library and please migrate your project to RN61 >=. Please follow installation steps defined in `README` for the same.

Let me know incase you still face the same issue.

Thanks
</ Pranav >

[2019-12-01 10:03] #70 closed

[2019-12-01 10:07] prscX commented on #48
Thanks for raising the issue.

`Edit`API modify the shared URI image and saves the changes at the same location.  If you are capturing the image, it is recommended first you move file to app sandbox then provide its storage path to edit the same.

Thanks
</ Pranav >

[2019-12-01 10:07] #48 closed

[2019-12-01 10:12] prscX commented on #60
Thanks @CrisHemswerthThor for raising the query.

Could you please add Stickers to your project Resources [ios/Resources]. Please refer Example project for the same. Let me know incase you still face same issue.

Thanks
</ Pranav >

[2019-12-01 10:12] #60 closed

[2019-12-01 10:14] prscX commented on #59
Thanks @cactis for raising the query.

I am afraid to share that loading stickers from remote location is not supported, it has to be bundle with app assets.

Thanks
</ Pranav >

[2019-12-01 10:14] #59 closed

[2019-12-01 10:17] prscX commented on #49
Thanks for raising issue.

Could you please try using latest version and migrate your app to RN61. Please follow installation steps defined in `README`. Let me know incase it does not work.

Thanks
</ Pranav >

[2019-12-01 10:19] prscX commented on #45
Thanks @d2luu for raising issue and solution.

Please feel free to share PR on the below project, once merged will be reflect on next installation.

https://github.com/prscX/photo-editor

Thanks
</ Pranav>

[2019-12-01 10:19] #45 closed

[2019-12-01 11:58] prscX commented on #55
Thanks @cristianoccazinsp for sharing the solution.

@yankovalera: Could you please install latest version and verify. Please upgrade to RN62 and follow installation steps for the same.

Let me know incase you still face the same issue.

Thanks
</ Pranav >

[2019-12-01 11:58] #55 closed

[2019-12-01 12:01] prscX commented on #52
Thanks @ssg-luke for sharing the PR and Effort.

@DavitVosk: Could you install latest version of library and migrate to RN61. Please  follow installation steps defined in `README`. Let me know incase you still face the same issue.

Thanks
</ Pranav >

[2019-12-01 12:01] #52 closed

[2019-12-01 12:06] prscX commented on #69
Thanks @sachinbasendr for raising the issue.

Could you please share software stack and have you added below statement to your android app gradle:

[code]

Thanks
</ Pranav >

[2019-12-01 12:07] prscX commented on #56
Thanks @DavitVosk for raising the query.

I am afraid to share that adding custom icons for done and other features are not supported by native library which we have integrated. However please feel free to share PR for the same.

Thanks
</ Pranav >

[2019-12-01 12:07] #56 closed

[2019-12-01 12:10] prscX commented on #58
Thanks @d2luu for the Effort and PR.

@cristianoccazinsp: Could you please install latest version and migrate your app to RN61. Please follow installation steps defined in `README` . Let me know incase it still does not work.

Thanks
</ Pranav >

[2019-12-01 12:10] #58 closed

[2019-12-01 12:12] prscX commented on #53
Thanks @cristianoccazinsp for raising the query.

RN61 and above we have deep integration with pods. I would recommend to migrate to RN61 and latest version of this library.

Cocoa pods are required in other use native iOS dependencies.

Thanks
</ Pranav >

[2019-12-01 12:12] #53 closed

[2019-12-01 12:15] prscX commented on #27
The purpose of library is to edit images which are within app sandbox. Ideally post capturing any image we need to move it to app storage and then share that path for the editing with this library.

Thanks
</ Pranav >

[2019-12-01 12:15] #27 closed

[2019-12-01 13:14] #49 closed

[2019-12-01 13:17] prscX commented on #19
The purpose of library is to edit images which are within app sandbox. Editing external images are not supported.

If we are capturing image using cameraRoll then first we should move that image to app storage then share same path for the edit.

This library overrides same file post editing is done and does not return any path, ideally its the same path.

Thanks
</ Pranav >

[2019-12-01 13:17] #19 closed

[2019-12-01 13:34] prscX commented on #6
Thanks @SnidelyWhiplash for raising the query.

This library is a wrapper around native libraries providing photo editing capabilities. Due to native libraries limitation, I am afraid to share that it is not possible at the moment.

Please feel free to share PR for the same.

Thanks
</ Pranav >

[2019-12-01 13:34] #6 closed

[2019-12-01 15:00] cristianoccazinsp commented on #55
Thanks @prscX  for the updates. I've switched libraries a long time ago already, but will definitely give it a try if I need it again :)

[2019-12-02 09:52] BaderSerhan commented on #83
Thanks for your reply.

I came across these two iOS libraries while doing my research, but I don't know much about their capabilities.

https://github.com/burhanrashid52/PhotoEditor
https://github.com/FarisAlbalawi/PhotoVideoEditor

[2019-12-02 11:45] arjundalal commented on #93
Hi Team
Still i am getting error can you help me to resolve it.

Regards,
Arjun Dalal

On Sun, 1 Dec 2019 at 10:33, Arjun Dalal <arjundalal38@gmail.com> wrote:

[2019-12-02 12:13] beobungbu commented on #93
okay, i fixed it by doing:
1. if you getting stuck at Google's Libraries like GMap, Firebase, ... just add it manually,
2. you can replace use_frameworks! by use_modular_headers!
3. If you can't replace it with use_modular_headers!, then add code bellow right after use_frameworks!
[code]

[2019-12-02 12:22] prscX commented on #83
Thanks @BaderSerhan for sharing native libraries for Video editing.

- [burhanrashid52/PhotoEditor](https://github.com/burhanrashid52/PhotoEditor): As per my understanding, it does not have support video editing capabilities.

- [FarisAlbalawi/PhotoVideoEditor](https://github.com/FarisAlbalawi/PhotoVideoEditor):  I will perform background checks on this library. It might take some time.

If I came

[2019-12-02 12:31] prscX commented on #93
@arjundalal: Could you please share your app software stack.

Thanks
</ Pranav >

[2019-12-02 12:32] arjundalal commented on #93
yes

On Mon, 2 Dec 2019 at 18:01, Pranav Raj Singh Chauhan <
notifications@github.com> wrote:

[2019-12-02 13:41] arjundalal commented on #93
i am getting this error after installing library. and my podfile look like
this
use_native_modules!
pod 'RNPhotoEditor', :path =>
'../node_modules/react-native-photo-editor/ios'
use_frameworks!
$dynamic_frameworks = ['RxCocoa', 'RxSwift']

pre_install do |installer|
installer.pod_targets.each do |pod|
if !$dynamic_frameworks.include?(pod.name)
puts "Overriding the static_framework? method for #{po

[2019-12-02 15:01] arjundalal commented on #93
Hii Team,
I am getting 194 linking error please help me to solve it.
the screen shot of error are as follows

Regards,
Arjun Dalal

On Mon, 2 Dec 2019 at 19:11, Arjun Dalal <arjundalal38@gmail.com> wrote:

[2019-12-02 17:38] beobungbu commented on #93
Use xcode 10 instead of xcode 11 please.
Add the swift path to libraries search path in your target

[2019-12-03 03:18] arjundalal commented on #93
But there are other libraries which give error on xcode 10

On Mon, 2 Dec 2019, 11:08 pm beobungbu, <notifications@github.com> wrote:

[2019-12-03 09:56] francescossoru opened #95 "[iOS] Erase missing"
Why UI is different in iOS like erase button?

[2019-12-04 12:50] maxmijn commented on #93
Hi guys,

I also got it to work on Android, but iOS gets me from error to error. After following these steps I get a 100 'undefined symbol' errors. I'm an iOS newby, so can't really make sense of it.

My stack:
- react-native = 0.60
- Xcode = 11.2.1
- Podfile =
[code]

[2019-12-04 13:31] maxmijn commented on #93
I fixed the above errors by adding an empty swift file to my project, based on this thread:
https://stackoverflow.com/a/56176956

[2019-12-05 11:13] maxmijn opened #96 "Hidden controls doesn't work on iOS"
When I add the following (or any other) hidden controls to the photo editor, the controls are hidden on Android but not on iOS.

[code]

[2019-12-05 11:21] maxmijn commented on #96
https://github.com/prscX/react-native-photo-editor/blob/c5e7e608a51d84ae735f875a1b79634707d38133/ios/RNPhotoEditor.m#L83

is commented out. When uncommenting, the controls are hidden. Was this commented for a reason?

[2019-12-05 11:24] maxmijn commented on #96
https://github.com/prscX/react-native-photo-editor/pull/97

[2019-12-05 12:03] arjundalal commented on #93
when we launch it on simulator it throw exception.

*libc++abi.dylib: terminating with uncaught exception of type NSExceptio*

On Wed, 4 Dec 2019 at 19:01, Max Mijnheer <notifications@github.com> wrote:

[2019-12-07 11:51] prscX commented on #96
Thanks @maxmijn for the PR. I have pushed the release.

You can now disable controls based on your need.

Thanks
</ Pranav >

[2019-12-07 11:51] #96 closed

[2019-12-07 11:55] prscX commented on #95
Thanks @francescossoru for raising query.

We have integrated 2 different native libraries providing editing capability. Please feel free to share PR in order to make it similar.

Thanks
</ Pranav >

[2019-12-07 11:55] #95 closed

[2019-12-08 06:01] #69 closed

[2019-12-09 23:37] fullstact69 opened #98 "Why RNPhotoEditor.Edit doesn't work in only iOS?"
I have used this module in my react native project.
In android, I could edit photo. But I can't edit photo in only iOS.
/Users/admin/Library/Developer/CoreSimulator/Devices/3976BEF4-5473-4261-80CD-E2033ACCFFB3/data/Containers/Data/Application/7A1FB6BE-887D-4497-9AAC-D63A6DB4C3EB/Documents/photo.jpg

This is just photoPath what I wrote.
But If I run Edit function, App is crashed. How can I resolve

[2019-12-13 03:20] adimaulanat opened #99 "Is it possible to configure font size?"
Hello, is it possible for customize the font size when we put text on image? Like Instagram do, thanks

[2019-12-22 05:13] idoor88 opened #100 "Photo is blank after loaded"
Hi All, for some reason, I tried the following code to load a photo, I first copied the jpg file to a sub directory as photo.jpg, but the editor loaded the photo.jpg as a blank screen, no photo shown, it is a black screen with the editor icons visible, I checked and found the file is copied successfully, but just not shown up when loaded the editor screen. so any clue what happened?
I tested on an

[2019-12-24 09:13] JChudasama opened #101 "iOS stickers crashing the app"
Hello team,

I'm trying following code as per documentations and references
[code]
- imagePath is received after taking photo from camera and working fine
- stickers also added into ios->Resources' directory.
- if I comment stickers then it works, but if i provide stickers then it crashes.

Please help on earliest in this.

[2019-12-31 08:07] splend-rajesh commented on #98
Same here.

[2020-01-06 05:02] arjundalal opened #103 "on IOS Library Not Working"
Hello Team,
when we implement this library on IOS react native it will not work properly.
but the same will work on Android.
please help me to solve this issue.

[2020-01-06 10:29] prscX commented on #103
@arjundalal: Could you please share details about the issue you are facing.

Thanks
< / Pranav >

[2020-01-06 12:17] arjundalal commented on #103
When we open any image for editing than the imgae dose not open in IOS.
It only give popup and close it.

On Mon, 6 Jan 2020, 3:59 pm Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-01-06 13:53] prscX commented on #103
Could you please share RN and Library version which you are using.

[2020-01-06 13:54] prscX commented on #103
Please make sure that image exist in your apps sandbox. Third part image sharing is not supported.

[2020-01-06 14:08] arjundalal commented on #103
Hello Team,
 actually the scenario is that, we get an array of image , when i click on particular image we store that image into local storage and pass the path of local storage.
these all things are working properly on Android.
but when we perform same task on IOS the editor page will open and close automatically.

My React Version is 0.61.5
we uses firebase , social login library. etc
my react-n

[2020-01-07 08:14] arjundalal commented on #93
Hello Team,
How can i resolve above error.
please help

[2020-01-07 08:15] arjundalal commented on #103
Hello Team,
How can i resolve above error.
please help

[2020-01-07 14:17] arjundalal commented on #103
Hello Team,
I have Solved the above issue.
Thanks for helping me.

[2020-01-10 06:54] arjundalal commented on #101
Hello Team,
I have facing same issue.
we create Resource Folder Under IOS Folder and added sticker there and write this code
  stickers: [
        'emoji2',
        'emoji2',
        'emoji3',
       ],
but it will crash the app.
please help me as soon as possible

[2020-01-10 15:23] prscX commented on #101
Please make sure that Resources folder is configured to xcode build settings.

[2020-01-11 03:38] arjundalal commented on #101
Can you please tell me process how we link resource folder to build setting

On Fri, 10 Jan 2020, 8:53 pm Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-01-13 18:24] nameslessjin opened #104 "react-native-photo-editor can't work with react-native-firebase"
I tried stand alone of react-native-photo-editor and react-native-firebase.  They both worked fine.  But When I install both dependencies and run react-native run-ios, it will return linker error and fail to build.
React-native: 0.61.2
# To reproduce the error.
Just download the Example provided in this repository  then use "yarn add @react-native-firebase/app",
add the following below target 'Exa

[2020-01-14 06:23] rakeshpatel09 opened #105 "Crop function work only once"
crop function only work once. if we want to crop picture again then it not work.

[2020-01-15 14:38] prscX commented on #98
Could you please share crash logs and also software stack.

Thanks
</ Pranav >

[2020-01-15 14:39] prscX commented on #99
@adimaulanat: This library is a wrapper around native libraries providing photo editing features. I am afraid to share but providing custom font size  is currently not supported.

Thanks
</ Pranav >

[2020-01-15 14:39] #99 closed

[2020-01-15 14:41] #103 closed

[2020-01-16 17:46] AhmedZaki5 commented on #44
protected boolean drawChild(Canvas canvas, View child, long drawingTime) {
    boolean result;
    final int save = canvas.save(Canvas.CLIP_SAVE_FLAG);

    if (mSlideableView != child) { // if main view
        // Clip against the slider; no sense drawing what will immediately
        // be covered,
        // Unless the panel is set to overlay content
        canvas.getClipBounds(mTmpRect);

[2020-01-16 17:50] AhmedZaki5 commented on #44
@Override
  protected boolean drawChild(Canvas canvas, View child, long drawingTime) {
    final LayoutParams lp = (LayoutParams) child.getLayoutParams();
    boolean result;
    final int save = canvas.save(Canvas.** @CLIP_SAVE_FLAG**);

    boolean drawScrim = false;

    if (mCanSlide && !lp.slideable && mSlideableView != null) {
      // Clip against the slider; no sense drawing what will imme

[2020-01-16 23:36] AhmedZaki5 commented on #44
protected boolean drawChild(Canvas canvas, View child, long drawingTime) {
    boolean result;
    final int save = canvas.save(Canvas.CLIP_SAVE_FLAG);

    if (mSlideableView != child) { // if main view
        // Clip against the slider; no sense drawing what will immediately
        // be covered,
        // Unless the panel is set to overlay content
        canvas.getClipBounds(mTmpRect);

[2020-01-18 09:54] mobilestar0223 commented on #103
Hello, @arjundalal
Could you let me know how you make library work for iOS?
Please let me know how you solved #93 and this issue.
Thanks

[2020-01-18 09:59] arjundalal commented on #103
Follow same steps as mention in Library Documentation.

On Sat, 18 Jan 2020, 3:24 pm Alex HongMin, <notifications@github.com> wrote:

[2020-01-18 10:02] mobilestar0223 commented on #93
Hello, @arjundalal
Could you share Podfile if you solve this problem?
Thanks

[2020-01-18 10:05] mobilestar0223 commented on #93
My stack:
- RN: 0.61.5
- Xcode: 11.1
- Cocoapod: 1.8.4

I have checked all above things, but failed to build iOS project.

Please help me!

[2020-01-18 10:06] arjundalal commented on #93
yes sure
My pod file is as follows:

 pod 'FBLazyVector', :path => "../node_modules/react-native/Libraries/FBLazyVector"
  pod 'FBReactNativeSpec', :path => "../node_modules/react-native/Libraries/FBReactNativeSpec"
  pod 'RCTRequired', :path => "../node_modules/react-native/Libraries/RCTRequired"
  pod 'RCTTypeSafety', :path => "../node_modules/react-native/Libraries/TypeSafety"
  pod 'React', :p

[2020-01-18 10:06] arjundalal commented on #93
please check my pod file  data

[2020-01-18 10:10] mobilestar0223 commented on #93
Thanks for your reply.

`[!] The 'Pods-PikadishApp' target has transitive dependencies that include statically linked binaries: (FirebaseAuth, FirebaseCore, FirebaseCoreDiagnostics, GoogleDataTransportCCTSupport, GoogleDataTransport, FirebaseInstanceID, and FirebaseFirestore)`

I got this error during pod install.

[2020-01-18 10:11] arjundalal commented on #93
have you install this pod manually

[2020-01-18 10:13] mobilestar0223 commented on #93
Yes.
According to installation document, I edited Podfile and run `pod install`.

[2020-01-18 10:14] mobilestar0223 commented on #93
I copy/paste below code on Podfile from your Podfile, and got above issue.
[code]

[2020-01-18 10:14] arjundalal commented on #93
i think this is pod installation issue.
please delete pod folder and re-install it.
in react 0.61.5 pod link automatically by running command pod install

[2020-01-18 10:15] arjundalal commented on #93
actually i use firebase so i write code like this.
post_install do |installer|
rnfirebase = installer.pods_project.targets.find { |target| target.name == 'RNFirebase' }
rnfirebase.build_configurations.each do |config|
  config.build_settings['HEADER_SEARCH_PATHS'] = '$(inherited) ${PODS_ROOT}/Headers/Public/**'
end

installer.pods_project.targets.each do |target|
  if target.name.include?('iOSPhot

[2020-01-18 10:16] arjundalal commented on #93
if you dont use firebase than use only this code
post_install do |installer|
installer.pods_project.targets.each do |target|
if target.name.include?('iOSPhotoEditor')
target.build_configurations.each do |config|
config.build_settings['SWIFT_VERSION'] = '5'
end
end
end

[2020-01-18 10:17] mobilestar0223 commented on #93
I also use firebase.
[code]

This is my Podfile

[2020-01-18 10:18] arjundalal commented on #93
than what the issue

[2020-01-18 10:19] mobilestar0223 commented on #93
Error during `pod install`.
`[!] The 'Pods-PikadishApp' target has transitive dependencies that include statically linked binaries: (FirebaseAuth, FirebaseCore, FirebaseCoreDiagnostics, GoogleDataTransportCCTSupport, GoogleDataTransport, FirebaseInstanceID, and FirebaseFirestore)`

[2020-01-18 10:22] arjundalal commented on #93
please follow this documentation for firebase. i think the issue is of firebase
https://rnfirebase.io/docs/v5.x.x/installation/initial-setup

[2020-01-18 10:32] mobilestar0223 commented on #93
Sorry. It's same error after I followed firebase installation.

[2020-01-21 10:13] arjundalal opened #106 "Missing request token for request"
Missing request token for request: <NSURLRequest: 0x283415040> { URL: file:///var/mobile/Containers/Data/Application/C1AD606B-A508-4994-9736-5647350402FB/Documents/21_1_2020_15_36_22.jpg }
getting this issue on IOS

[2020-01-21 10:14] arjundalal opened #107 "how we get onDone callback in IOS"
please specify the code to get call back on IOS

[2020-01-21 12:31] prscX commented on #107
@arjundalal: Please refer below snippet, for testing you can check example project as well:

[code]

[2020-01-21 12:31] #107 closed

[2020-01-21 12:33] arjundalal commented on #107
I want to get the url of image after done how we get this in IOS

On Tue, 21 Jan 2020, 6:01 pm Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-01-21 12:49] prscX commented on #107
It will override the same image itself.

[2020-01-21 18:41] JerakRus commented on #76
Hello! I am use:

[2020-01-22 01:56] prscX commented on #76
Could you share your pod file, please.

[2020-01-22 08:47] arjundalal opened #108 "After Saving File Get Error in IOS"
Hello Team,
after pressing the done button on IOS it will give me an error message.
i have followed folllowing steps:
1. i will get image link from server side.
2. using  RNFetchBlob i will store this image into local and get the following path:
**/var/mobile/Containers/Data/Application/C1AD606B-A508-4994-9736-5647350402FB/Documents/21_1_2020_15_36_22.jpg**
3. after doing proper changes when i pre

[2020-01-22 09:51] JerakRus commented on #76
@prscX , Despite the fact that it did not conflict with firebase as I saw in other issues, it was built without errors, and the application worked fine, except for this error.

[code]

[2020-01-22 09:57] prscX commented on #108
Are you using RNFS to seek the file path?

[2020-01-22 09:58] arjundalal commented on #108
yes

[2020-01-22 09:59] arjundalal commented on #108
var month = new Date().getMonth() + 1;
    var timestamp =
      new Date().getDate() + '_' + month + '_' +new Date().getFullYear() + '_' +
     new Date().getHours() + '_' + new Date().getMinutes() + '_' +new Date().getSeconds();
    this.props.greetingStore.setUploadFileID(greeting_id);
    let photoPath = RNFS.DocumentDirectoryPath + '/' + timestamp + '.jpg';
    RNFetchBlob.config({fileCache:

[2020-01-22 10:01] prscX commented on #76
Thanks for sharing Podfile. Could you please try adding both RNPhotoEditor and iOSPhotoEditor separately in use_native_module and use_frameworks section. At a quick glance I am able to see this difference compared to example project. I am not sure if this solves the issue.

Please give a try and let me know how it goes.

[2020-01-22 10:04] prscX commented on #76
Also could you please try running example project, if it works there I don't see a challenge of not working here. Let's see how it goes.

[2020-01-22 10:06] prscX commented on #108
Looks good, could you share snippet of invoking the library Edit API, please.

[2020-01-22 10:09] arjundalal commented on #108
here we call the library for open:
 methodcall(image_url_path) {
    RNPhotoEditor.Edit({
      path: image_url_path,
      stickers: Platform.OS === 'ios' ? [] : GREETING_STICKERS,

      hiddenControls: [],
      colors: GREETING_COLOR,
      onDone: response => {
        console.log('on done');
        console.warn('response::', image_url_path);
        this.props.greetingStore.saveFileToServer

[2020-01-22 10:09] arjundalal commented on #108
image path URL return me like this
/var/mobile/Containers/Data/Application/D61C7F96-7F7C-457F-A928-F8787073BB85/Documents/22_1_2020_14_7_58.jpg

[2020-01-22 10:10] arjundalal commented on #108
saveFileToServer(filepath) {
    this.upload_file_status = 'pending';
    this.loader_Status = true;
    var data = new FormData();
    data.append('photo', {
      uri: 'file://' + filepath, // your file path string
      name: 'my_photo.jpg',
      type: 'image/jpg',
    });
    fetch(DEFAULT_IMAGE_UPLOAD, {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'Cont

[2020-01-22 12:54] arjundalal commented on #101
Hello Team,
I am new to IOS
can you please tell me the step where we create Resource folder and how we configured with build setting

[2020-01-23 05:29] arjundalal commented on #101
Hello Team,
I am new to IOS
can you please tell me the step where we create Resource folder and how we configured with build setting
please help me my project is stop.

[2020-01-23 11:01] arjundalal commented on #101
Hello Pranav,
Please Help Me to resolve this issue.

[2020-01-23 14:29] arjundalal opened #109 "IOS Sticker gives error"
Hello Team,
i have followed this step to add stickers in IOS.
1. Create a new folder callled Rewsources_Other
2. add it to the root folder (Seen in Scree shot).
3. and run the project it give me error. The error is **Thread 1: signal SIGABRT** but when we remove sticker array than it work fine.
please help me to resolve this issue. because of this project i am not able to deliver project.
![Screen

[2020-01-24 09:39] shahrourit opened #110 "OnDone not saving edited Image"
**Testing on iOS**

Hi

I am retrieving an image from the web, caching it through `RNFetchBlob` and using that path as the image source. Everything up to here works fine. After editing the image, I press the **Arrow (Done)** button, open the image again in the editor from the same location path, and the original shows up. I even checked the folder of the cached images, none of them were edited, th

[2020-01-24 11:11] shahrourit commented on #110
Never mind, I got it to work.
I had some issues with the state.
Closing issue.

[2020-01-24 11:11] #110 closed

[2020-01-25 04:03] prscX commented on #109
@arjundala: Can I have your email id please, I see your are facing lot of issues, lets have a call to discuss and fix the same.

[2020-01-25 04:05] arjundalal commented on #109
arjundalal38@gmail.com  this is my mail id

On Sat, 25 Jan 2020, 9:33 am Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-01-28 14:46] nameslessjin commented on #104
Hey, has there anyway I can fix the linking issue?

[2020-01-31 03:48] XELoh opened #111 "How to adjust the icon layout"
if I hidden the icon, the layout will be ugly, can someone help me solve this ? Thanks
![Screenshot_20200131_114607](https://user-images.githubusercontent.com/16030959/73511143-a28c4c80-441f-11ea-80f3-43c58b660598.jpg)

[2020-01-31 03:53] XELoh opened #112 "Edit by cache image or url image"
- Can I using take photo image (cache image) to edit
- Can I using internet img to edit?

[2020-01-31 06:28] XELoh commented on #100
I faced this also

[2020-02-02 22:23] nwaughachukwuma commented on #93
@prscX is there a standard approach for setting up on iOS?

[2020-02-02 22:28] nwaughachukwuma commented on #104
I also couldn't get it to work with react-native-firebase v6. Any solution to this @prscX?

[2020-02-02 22:39] nwaughachukwuma commented on #91
Hi @prscX I tried this on RN61.5 but I couldn't get it to work.

[2020-02-03 03:48] vincentkedison commented on #100
Same problem

[2020-02-03 06:49] arjundalal commented on #109
@prscX
please help me to resolve this issue

[2020-02-03 14:55] Cod3Guy commented on #109
@prscX is there any resolution for this? I'm facing the same issue here

[2020-02-03 14:56] arjundalal commented on #109
Hello team,
Please help us to resolve this issue.

On Mon, 3 Feb 2020, 8:25 pm ywh, <notifications@github.com> wrote:

[2020-02-03 18:26] nwaughachukwuma commented on #93
Please can you be clearer here? A little more details

[2020-02-03 18:32] nwaughachukwuma commented on #93
Please how what did you do in the context of this package? It would help if you specified the steps here

[2020-02-04 02:57] mickeywu commented on #104
I also encountered this issue and a pretty hacky temporary workaround:

Open `.podspec` in `node_modules/@react-native-firebase/app`, `auth`, `firestore` (and any other `@react-native-firebase` libraries you're using), and manually change `s.static_framework = false` to `s.static_framework = true`.

My suspicions is that `use_frameworks!` isn't playing nicely. @prscX wondering if there's a possibl

[2020-02-04 07:58] nwaughachukwuma commented on #104
Wow! Thanks @mickeywu, this works perfectly. @prscX please how do you get to add this to the doc? Because I didn't have to make any other hacks or fixes asides following the installation steps and this, thus making it clean and straight to the point.

[2020-02-04 11:12] prscX commented on #104
Thanks @mickeywu for sharing the workaround. use_framework is needed since the native photo editor library is in Swift and as per my understanding the only way to add is define it in Podfile under use_framework, I have also tried by adding to library podsepc but it did not worked because we are not able to specify git path and branch we only can add name of dependency lib name.

I will this to kno

[2020-02-05 08:36] hieupaul commented on #104
Hi guys,

Just look around and found this guy's solution, work as well for me, you should take a look
[here](https://github.com/invertase/react-native-firebase/issues/2967#issuecomment-580060539)

[2020-02-05 09:48] #91 closed

[2020-02-05 10:15] arjundalal opened #113 "IOS Sticker Gives Error"
Hello Team , @prscX
 when i add custom stickers in IOS it will give crash. please help me solve this issue.
due to this issue i am not able to complete my project.
please help me

[2020-02-05 13:33] SamyOptimize opened #114 "Installing with ExpoKit gives "null is not an object(evaluating RNPhotoEditor.Edit)" error"
I've been trying to install this library for the past 2 days and trying most fixes and workarounds that i've found. But the more fixes and workarounds i try the more errors i run into.

I followed the instructions in the README file and did everything as stated but as soon as i try to use RNPhotoEditor.edit i get the error in the title. I found out that the RNPhotoEditor error is not the one from

[2020-02-05 17:54] nwaughachukwuma commented on #104
Solves the problem even easier. Thanks @hieupaul and please @prscX add this to the documentation, say under troubleshooting. And I can do a PR if that helps

[2020-02-05 22:26] nwaughachukwuma commented on #109
Hi @arjundalal, please follow the steps below:

1. Add your stickers to the assets folder (preferably root_dir/assets/stickers)
2. Add a path to the sticker folder same way you reference the path to your fonts or other assets `assets: ["./assets/fonts/", "./assets/stickers"]` either in react-native.config.js file or in package.json
3. Open your project.xcworkspace on Xcode
4. Go to the resources f

[2020-02-06 01:12] prscX commented on #104
@nwaughachukwuma: Thanks for extending help. It would be very helpful if you can share a PR for the same. Will definitely merge it on priority.

[2020-02-06 04:54] arjundalal commented on #109
@nwaughachukwuma
can you please share your package.josn because i awant to see the path to the sticker folder.
and can you please tell me how you use sticker name in your code.

[2020-02-06 07:36] nou-g commented on #114
Help, I am facing the same issue
+1

[2020-02-06 07:47] nwaughachukwuma commented on #109
Hi @arjundalal all you need to do is one of the following:

RN version <60:
[code]
RN version >=60:
[code]

I hope it's clear enough

[2020-02-06 08:25] nwaughachukwuma commented on #104
Alright @prscX. PR now done and can be found at #115

[2020-02-24 10:00] amirdm81 opened #116 "Crash app after done or cancel"
Hi i have app and i take picture and send to RNPhotoEditor.Edit({}) but after change and done or cancel app crashed ?? how do i ??

[2020-02-25 01:19] prscX commented on #116
Usually it should not crash, could you please share crash logs to further investigate.

Thanks

[2020-02-28 08:04] arjundalal opened #117 "crop functionality gives error while clicking on button"
Hello Team,
While click on crop button it will give crash.
please help me to solve this issues.

[2020-02-28 15:26] prscX commented on #117
@arjundalal:  Have you added Crop Activity to your app manifest file? Refer `README`. If yes please share crash logs.

Thanks
</ Pranav >

[2020-02-29 02:22] prscX commented on #117
Closing the issue. Let me know if you still face the issue.

[2020-02-29 02:57] arjundalal commented on #117
Hello team,
Yes i have add crop activity in manifest file.
I will share you crash log with you.

On Sat, 29 Feb 2020, 7:52 am Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-02-29 05:12] arjundalal opened #118 "When we click on Crop Button the app crash"
Hello Team,
when we click on the crop button the app get crash.
please help me to solve this issue. i have added crop activity in manifest file and i have attach the screen shot of crash log here.
![Screen Shot 2020-02-29 at 10 38 55 AM](https://user-images.githubusercontent.com/54262572/75601339-26e5f400-5ae0-11ea-9262-abf7e9533386.png)

[2020-02-29 09:05] arjundalal commented on #117
Hello Team,please help me to solve this problemi have already share
screenshot of crash log with you.

Regards,
Arjun Dalal.

On Sat, 29 Feb 2020 at 12:11, Pranav Raj Singh Chauhan <
notifications@github.com> wrote:

[2020-03-01 08:03] prscX commented on #118
@arjundalal: We will be tracking it here [issues/117](https://github.com/prscX/react-native-photo-editor/issues/117).

Thanks
</ Pranav >

[2020-03-01 08:03] #118 closed

[2020-03-01 08:38] prscX commented on #117
@arjundalal: I have made few fixes related to Crop functionality on Android. Could you please take latest version and verify the same.

If it does not work, could you please create Example project where I can reproduce the same issue.

Thanks
</ Pranav >

[2020-03-01 08:39] arjundalal commented on #117
Yes sure i will update my library version and check.
Thanks for your support.

On Sun, 1 Mar 2020, 2:08 pm Pranav Raj Singh Chauhan, <
notifications@github.com> wrote:

[2020-03-16 10:18] #116 closed

[2020-03-20 10:22] rafaelpadovani opened #120 "PNG image loses transparency after saving"
Original image:
<img width="234" alt="Screenshot 2020-03-20 at 11 16 35" src="https://user-images.githubusercontent.com/21176544/77154911-e9500780-6a9c-11ea-89ee-3788679c90dc.png">

Saved with the package:
<img width="234" alt="Screenshot 2020-03-20 at 11 16 35" src="https://user-images.githubusercontent.com/21176544/77154922-f8cf5080-6a9c-11ea-92e1-b62537fa4cdb.png">

Why does this happen?

[2020-03-26 09:42] dilanja opened #121 "Task :app:processDebugManifest FAILED"
i'm new to react native.when i install the npm and run the app in gives error Task :app:processDebugManifest FAILED.after i remove npm  from package.json app working again.and please explain what file should i put activity lines.

[2020-03-26 10:22] #121 closed

[2020-04-04 02:55] engineer2u4u opened #122 "Add images as stickers"
I want to add my own png images as stickers. But how do I do it?

[2020-04-04 19:13] engineer2u4u commented on #122
It is resolved

[2020-04-04 19:13] #122 closed

[2020-04-13 01:32] lincolnsilva commented on #59
You can change the RNPhotoEditor.m (iOS) file to display remote images like this:

Change:

for (NSString *sticker in stickers) {
            [imageStickers addObject: [UIImage imageNamed: sticker]];
}

to

for (NSString *sticker in stickers) {
            //[imageStickers addObject: [UIImage imageNamed: sticker]];
            NSURL *url = [NSURL URLWithString:sticker];
            NSData *data =

[2020-04-14 01:09] ahmedelsayed11 commented on #23
how to save the image after editing ??

[2020-04-14 17:15] prscX commented on #23
It automatically updates the edited image to the source path.

[2020-04-15 09:31] Darkness122096 opened #123 "how to install v0.0.7 in rn0.59.9"
**I do not know where to create this folder? Can anyone guide me in more detail?**
After verification, open your project and create a folder 'RNPhotoEditor' under Libraries.

Drag node_modules/react-native-photo-editor/ios/pods/Pods.xcodeproject into RNPhotoEditor, as well as the RNPhotoEditor.xcodeproject if it does not exist.

Add the iOSPhotoEditor.framework into your project's Embedded Binarie

[2020-04-23 08:30] kimsean opened #124 "base64 data"
How to return base64 data on the cropped image,

and is it possible to use base64 image data as source of the image ? replace "path" with base64data

[2020-04-27 02:48] kimsean opened #125 "ondone call back image uri"
is there a way to get the image uri of the modified image? on callback ondone

[2020-05-06 22:22] Schweig opened #126 "Text Color options don't show with cached remote image"
After using rnfetchblob to cache a remote image and opening it using RNPhotoEditor.edit the options to pick the color for the text is not available. If the image is selected from the camera roll there are text options but you are only able to select the color once.

<h3>Remote Image</h3>
<img width="412" alt="Screen Shot 2020-05-06 at 6 14 37 PM" src="https://user-images.githubusercontent.com/6835

[2020-05-09 14:41] arsh-sw commented on #100
I faced this problem too. Is there any update about it?

[2020-05-18 06:50] AdityaSantoso opened #127 "CompileSwiftSources failed with a nonzero exit code with “no such file or directory”"
I am compiling an iOS project that is created using react-native. One library, react-native-photo-editor, fails to be built with a very odd error. It complains of "no such file or directory" on a file that clearly exists.

![Compile Stack Trace](https://i.stack.imgur.com/mfzbS.png)

However, the file definitely exists. I can use Terminal to tail that file.

![Terminal Less](https://i.stack.imgur.c

[2020-06-09 13:29] AkshayUk opened #128 "React Native Linking Error when trying to run on IOS"
I am facing this error when trying to run the app on IOS:
**error React Native CLI uses autolinking for native dependencies, but the following modules are linked manually: - react-native-photo-editor**

Currently using react native version 0.61
Anyone have a solution for this?? Thanks in advance.

[2020-06-26 01:55] CR-97 opened #129 "Error when try to run on RN0.62.2"
![image](https://user-images.githubusercontent.com/30256135/85812320-e1d28580-b792-11ea-905e-8eb47f0a026c.png)

    "react-native": "0.62.2",

Having issue above when try to run it. Any solution for this issues

[2020-06-26 02:09] prscX commented on #129
Could you make allows backup to true and try once

[2020-07-01 07:34] hamzaouhssain1993 opened #130 "Picture in Landscape get cut"
Hello and thank you for this amazing library.
If the picture that I take is in portrait, so with a height bigger than the width, and I try to edit this image in a landscape, the image get cut.

Do you have any solutions for that? or block the orientation if it possible?. thanks

[2020-07-01 08:30] hamzaouhssain1993 opened #131 "Iphone X family SafeAreaView"
I advise using SafeAreaView for devices especially in IOS with SafeAreaView.
You notice that the image goes on the top bar and the icons get cut
(this from iPhone XR)
![Image from iOS](https://user-images.githubusercontent.com/63846472/86221889-c813b280-bb85-11ea-85ec-c7697f4b0e22.png)

[2020-07-01 10:07] hamzaouhssain1993 commented on #130
If I can advise something, an easier solution and better result.
Block the orientation. At the moment that you receive the media, check width and height and you block orientation to landscape or portrait. That`s what i have done. This will solver the problem of the cut, but also when you modify a portrait image in a landscape, the edit does not get totally f**k up

[2020-07-01 10:11] hamzaouhssain1993 commented on #130
I am working on my fixes, if I get good results then I will send a pr to fix this

[2020-07-14 14:16] hamzaouhssain1993 commented on #113
@prscX Hello! do you have an idea why it fails when adding stickers in ios? I created a Resources folder like you did in your example and added the png picture. still, it does crashes.

[2020-07-14 14:18] hamzaouhssain1993 commented on #75
you should go to the native part of the two libraries and disable it from there as prscX said

[2020-07-14 14:36] hamzaouhssain1993 commented on #113
please check comment https://github.com/prscX/react-native-photo-editor/issues/109#issuecomment-582643497

[2020-07-14 14:37] hamzaouhssain1993 commented on #101
please check solution in https://github.com/prscX/react-native-photo-editor/issues/109#issuecomment-582643497

[2020-07-21 08:58] jrdesigner13 opened #132 "“Pods-RNPhotoEditor.debug.xcconfig” couldn’t be opened because there is no such file."
Hi,
Guys can someone help me?
I need to run on ios this old project that follows in this version:
Node version 10.16.3
"react-native": "0.57.8",
"react-native-photo-editor": "^1.0.6",

Android is running smoothly but on ios the error appears in this lib “Pods-RNPhotoEditor.debug.xcconfig” couldn’t be opened because there is no such file.
following the documentation it does not create the pods fold

[2020-07-21 11:53] harshal2030 opened #133 "Build failed on android"
[code]
plz help

[2020-07-30 09:48] Lokendra2500 opened #134 "Image not saved."
After editing the image when I click on save; then the image is not saving.

[2020-08-01 17:07] pavanbhat1999 commented on #134
Same problem .. Onclick what is happening I dont know . I am getting only console output

[2020-08-01 17:12] desdamo opened #135 "Photo editor react"

[2020-08-01 17:13] #135 closed

[2020-08-10 05:57] mohammedfaraj92 opened #136 "sticker from url"
how we can get sticker from url not from assets

[2020-08-10 06:34] mohammedfaraj92 commented on #134
Same problem .. Onclick what is happening I dont know . I am getting only console output

[2020-08-12 08:03] hamzaouhssain1993 commented on #134
you need to give an example and not just a sentence with no information about the code.
I suppose the image get saved, but you do not refresh the link. It is a problem of react native.
Add a random query in the new Local path, for example
PATH = PATH + '?' + new Date().getTime()

[2020-08-12 08:04] hamzaouhssain1993 commented on #133
az it is written in the log error you just need to go the manifest file and add:

  android:allowBackup="true"

[2020-08-12 08:05] mohammedfaraj92 commented on #134
you need to use cameraRoll.save inside onDone because image saved on cash not in galary

[2020-08-12 08:29] hamzaouhssain1993 commented on #132
did you follow the ios installation?
i advise you to upgrade to RN 60 before you get stuck to the old environment for a long time

[2020-08-12 09:01] jrdesigner13 commented on #132
Yes, I followed all the installation steps and unfortunately I cannot upgrade the version in this old project.

[2020-08-12 11:38] hamzaouhssain1993 commented on #105
yeah this is in Android, i advice you to do not allow a second crop after the first time ( in the native android part you should do it). I fixed for the moment like this

[2020-08-13 07:59] samurailens commented on #134
You can try this. It works.

     var photo = RNFS.DocumentDirectoryPath + "/photo.jpg";

     RNPhotoEditor.Edit({
      path: photo,
      onDone: ( result ) => {
          // Note: the path of file saved after editing is different than the file opened.
        console.log('on done', photo);
        console.log('on done result', result); // use this path to preview the saved image or overwrite t

[2020-08-14 08:56] shahreman opened #137 "I can not use it on iphone,not wroking"
i copied and paste the instructions on my podfile and run pod update with my React Native project but it didn’t install and worked. can anyone provide a boilerplate for new version of RN?

[2020-08-14 08:57] shahreman commented on #137
require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '10.0'

target 'TurnaMobile' do
  # Pods for TurnaMobile

  config = use_native_modules!
  use_react_native!(:path => config["reactNativePath"])

  pod 'RNCAsyncStorage', :path => '../node_modules/@react-native-communit

[2020-08-14 08:58] shahreman commented on #137
[code]

[2020-08-18 17:14] mikolajadamowicz commented on #129
@CR-97  I've got it working 😄
[code]

[2020-08-18 17:18] mikolajadamowicz commented on #137
Try disabling all the lines used by Flipper
[code]

[2020-08-27 08:16] khoand0407 opened #138 "how to add effects (image) on very top"
this library is great, but i want to add image on top , like:

![IMG_2122](https://user-images.githubusercontent.com/29480491/91415272-fe189e80-e877-11ea-8f20-e0e8426cf1af.PNG)
![IMG_2123](https://user-images.githubusercontent.com/29480491/91415290-05d84300-e878-11ea-94c0-5db5421adb9a.PNG)

Have you any way can help me? @prscX  thanks

[2020-08-27 08:27] prscX commented on #138
@khoand0407: This library is a wrapper around native libraries providing editing capabilities. I am afraid to share but modifications to it are difficult to maintain.

[2020-08-27 08:40] khoand0407 commented on #138
i think if this library is limited too much by native, it is very difficult to scale and development new feature, you have any plan for development new feature like this.

[2020-08-27 11:16] prscX commented on #138
@khoand0407: Due to time bound, I am unable to enhance the capabilities. However, I encourage, feel free to share PR. We will review and merge.

Thanks
</ Pranav >

[2020-08-28 20:23] sungsong88 opened #139 "Can't install due to "iOSPhotoEditor" not found issue..."
My CocoaPods version is CocoaPods 1.10.0.beta.2.
I also ran `pod repo update`.
But when I run `npx pod-install`, I get this and can't install:

[code]

Please help me! 😢

[2020-09-01 06:09] sanjay628 commented on #139
Yes please help facing same issue . Library is not working.

[2020-09-01 06:38] sanjay628 commented on #139
Please download version-: 0.0.7  it resolved my issue.

[2020-09-01 15:08] erwins1 commented on #136
is that any solution for get sticker from url? if only from assets, need to release new apps if we want to add image @prscX

[2020-09-09 16:20] Temirtator opened #140 "RNFetchBlob request error: url === nullnull. Example project."
I have met this problem when I builded apk. I've noticed
`let binaryFile = resolveAssetSource(backgroundImage);`
this part of code, generating uri for localhost, even after building apk. How can I fix this problem. So example code, is not working when u build debug apk version. How can I fix this problem?

[2020-09-10 20:06] Temirtator commented on #140
I have solved problem. Issues exist because file is not found.
I've solved the problem by this code:
[code]

[2020-09-10 20:06] #140 closed

[2020-09-12 11:43] jaypeeji commented on #139
Hello Sanjay
uninstall package and pod install
and
iOSPhotoEditor (from `https://github.com/prscX/photo-editor`, branch `master`)
in pod and pod install
install package and pod install will work

[2020-09-13 04:42] prscX commented on #140
Thanks @Temirtator for sharing the fix.

You got it right. resolveAssetSource is not supported on production. We need to use RNFS or other FileSystem supported library only.

[2020-09-13 10:07] prscX commented on #137
@shahreman: I have updated the installation steps. Could you try that once. Let me know if you still face any issues.

Also, please share the logs to analyse the issue.

Thanks
</ Pranav >

[2020-09-25 16:49] atulmala opened #142 "What is the purpose of the Right Arrow at the bottom right?"
What is the purpose of the right Arrow that appears inside circle at the bottom right side?

what is the event associated with it to override?

Thanks

[2020-09-28 12:44] sanjayradadiya opened #143 "how can configure rotate function ?"
I am not able to see any rotate related function in controls as it is described in the package description.

[2020-10-01 08:38] elkiwy commented on #139
Hi, try deleting the Podfile.lock file, it resolved my issue by not forcing it to download version of the pod which he couldn't find.

[2020-10-02 13:55] 16ntu1120 opened #144 "null is not an object(evaluating RNphotoeditor.Edit)"
This is my code I'm having this issue and have no solution of this kindly help me with this.
    const editor = () => {
    RNPhotoEditor.Edit({       --->issue is in this Edit function
    path: RNFS.DocumentDirectoryPath + '/photo.jpg',
    stickers: [
    'sticker0',
    'sticker1',
    'sticker2',
    'sticker3',
    'sticker4',
    'sticker5',
    'sticker6',
    'sticker7',
    'sticker8',

[2020-10-05 06:07] umair-dpl opened #145 "Edited URI not showing the changes applied instead showing the unedited image"
onDone: (response) => {
        console.log('response : '+JSON.stringify(response))
       this.editImage(response);
      },

I can fetch the URL but it's not updated even tried saving it in camera roll (explicitly) and then fetching it, still getting the old image @prscX

[2020-10-05 09:08] umair-dpl commented on #134
use 'file:///' and then append the URI

let image = 'file:///' + imageURI

[2020-10-05 09:16] hamzaouhssain1993 commented on #145
update the url of the link adding a random variable or a date time, for example:

displayUrl = `${displayUrl}?${new Date().getTime()}`;

[2020-10-05 09:24] umair-dpl commented on #145
where the time should be inserted ? for instance I have an image from local storage
file:///storage/emulated/0/WhatsApp/Media/WhatsApp Images/IMG-20201005-WA0000.jpg"
where I should add the time ? before .jpg and after WhatsApp images ?

[2020-10-05 09:29] hamzaouhssain1993 commented on #145
just at the end of the path, for exampke your path should be something like

file:///storage/emulated/0/WhatsApp/Media/WhatsApp Images/IMG-20201005-WA0000.jpg?456565636

so in code
let yourPath = file:///storage/emulated/0/WhatsApp/Media/WhatsApp Images/IMG-20201005-WA0000.jpg
yourPath = ${displayUrl}?${new Date().getTime()};

let me know if it does not work, maybe it is related to something else

[2020-10-05 09:36] umair-dpl commented on #145
you are a life saver bro it did work :D

[2020-10-05 09:36] #145 closed

[2020-10-06 13:16] abuzer opened #146 "How can we draw circles and rectangle with this library?"
Looking for the add circle and rectangle drawing support in this library.

[2020-10-07 08:57] hamzaouhssain1993 commented on #146
What you can do it use a sticker. just create a circle sticker that has a transparent background. then when you use it in the library, you can make it bigger or smaller with the pinch to zoom

[2020-10-07 13:18] sanjayradadiya opened #147 "Get applied option on image"
In my requirement, i need to show one image and the user can edit those one image, and on do I need to apply the same each and every config to other all images file that is select via other libraries.

[2020-10-08 20:53] Dheeeraj commented on #144
@16ntu1120
Use it this way instead of `RNPhotoEditor`

`import PhotoEditor from 'react-native-photo-editor';`

`PhotoEditor.Edit(options)`

[2020-10-10 07:28] MadCoderme opened #148 "How can I edit GIFs with it?"
The library is really great! I am successful to implement it but I have doubt if it can work with GIFs. I tried with a GIF but it took the first frame from the GIF, not the complete GIF.
Please add this feature

[2020-10-11 12:47] swapanil opened #149 "I am getting pod error while installing this."
Here is my system info:

[code]

<img width="1153" alt="Screenshot 2020-10-11 at 6 11 34 PM" src="https://user-images.githubusercontent.com/42803028/95678948-6daad900-0bed-11eb-9cfd-beea54370b47.png">

Please let me know what and how to edit in podfile(if the issue with that).
I am not very familiar with Objective-C or Pods etc.
I need clear instructions so that i can install it.

I am also attach

[2020-10-12 19:06] Gatreek92 opened #150 "UIApplicationMain problem on IOS"
Hello, When I try to use PhotoEditor on an IOS device the app crashes and I get this error in xcode :
<img width="1092" alt="Screenshot 2020-10-12 at 7 50 48 PM" src="https://user-images.githubusercontent.com/17796983/95780718-4d9a1900-0cc4-11eb-8c55-d6af603154b8.png">
This is my code :
`item => {
          RNFetchBlob.config({ fileCache: true })
            .fetch('GET', BASE_URL + '/Resource/' +

[2020-10-13 14:35] marcodafonseca opened #151 "Cannot edit first text content after adding more than 1 text field"
There is a problem when working with multiple text inputs

Reproducible steps:
- Create some text in an image
- Locate it to the bottom of the image
- Select the text button and add a separate set of text
- Locate it to the top of the image
- Then select the 1st set of text at the bottom of the screen.

The 2nd set of text is replaced with the content of the first set of text

[2020-10-13 14:49] marcodafonseca opened #152 "Crop button doesn't work after having already cropped"
- If you crop an image or go into the crop functionality, but decide to cancel the crop screen
- Then try click on the crop button to open the crop functionality a second time the button doesn't seem to work

At least this is the behavior I'm experiencing on Android anyway. Haven't tested on iOS yet

[2020-10-14 12:26] marcodafonseca opened #153 "Resize text, add cursor focus, adjust pen size of drawn lines"
Hi

For our system we think the following features would help improve the experience of your tool:
- Give users the ability to be able to change the font-size of added text
- Can we focus the cursor on selecting the Text option, what happens is the onboard keyboard popups up, you start typing but nothing appears as you have not focused the cursor on the screen
- Give the users the ability to choos

[2020-10-16 13:03] serdargun commented on #136
@erwins1 Did you find any other solution to getting sticker? From url or from custom sticker folder in phone?

[2020-10-16 13:10] serdargun opened #154 "How do users add custom sticker from their phone?"
In my app, users need to add their custom stickers like a company  logo or personal logo. So that user will add stickers from their phones. But stickers folder is in app resources folder(ios) or drawable folder(android) and app is encapsulated, users can't reach these folders from their phones. In summary how does users add custom sticker interactively?

[2020-10-19 08:03] marcodafonseca opened #155 "Rotating image loses markups"
If a user adds markups to an image and then rotates the image the previously added markups are lost and the user is then forced to re-add the same markups again

[2020-10-22 04:38] Nagato717 commented on #142
Click on it will fire `onDone` function

[2020-10-22 10:26] bakir97 opened #156 "Localization"
Is there a way to add localization for texts? Done, save, and so on.

[2020-10-28 14:01] rleone87 opened #157 "Sticker Coordinates"
Is there a way to obtain the stickers coordinates?

[2020-10-29 14:06] linhpa commented on #103
Hi @arjundalal , I'm facing the same issue as yours. How did you solved this issue?

[2020-11-02 21:48] marianomike commented on #149
I am also seeing this error when trying to integrate into my project.

[2020-11-04 03:03] leonljy commented on #149
I am also facing this issue. Its not clear how to edit Podfile 😭

[2020-11-05 01:30] leonljy commented on #149
I just success to build project.

My steps are
1. Edit pod file
`
target '****' do
  config = use_native_modules!

  use_react_native!(:path => config["reactNativePath"])

  use_react_native!(:path => config["reactNativePath"])
    pod 'iOSPhotoEditor', :git => 'https://github.com/prscX/photo-editor', :branch => 'master'

  target '****Tests' do
    inherit! :complete
    # Pods for testing
  end

[2020-11-05 01:49] leonljy commented on #133
Edit android/app/src/main/AndroidManifest.xml file

There is an option `android:allowBackup` in the <application> tag. Set value to `true`

[2020-11-05 02:37] harshal2030 commented on #133
Yeah, figured it out. thx

[2020-11-05 02:37] #133 closed

[2020-11-06 17:47] concatto commented on #156
You can override the labels using your strings.xml which is located at android/app/src/main/res/values. The identifiers can be found here:

https://github.com/prscX/react-native-photo-editor/tree/master/android/src/main/res/values

[2020-11-09 11:17] MengjieZhao opened #158 "RNPhotoEditor.Edit quitted before the customer onCancel function is called."
I would like to warn user for the unsaved changes in the image editing. Therefore I want to build an `Alert` in the `onCancel` function in the `RNPhotoEditor.Edit()` function. However, since the editor always quit the editing mode before the customer onCancel function is called, this is not possible.

**Expected behaviour:**
the customer `onCancel` function is first called before exiting the editi

[2020-11-10 18:37] sauritkar opened #159 "Color Icons, Resize text"
Hi

For our system we think the following features would help improve the experience of your tool:

1. while drawing anything on photo, color icons are too small. There must be a way, where user can define size of color icons.
2. While writing text over photo, and readjusting position of text, UI gets little messy.

Please let me me know if you this can be achieved.

[2020-11-11 08:15] Nagato717 commented on #150
+1 same issue

[2020-11-25 13:33] ArchanaNair commented on #98
@fullstact69  Any solution for the above issue? I am not getting crash but screen is just blank back screen when we provide photo path similar to the one you have shared.

[2020-11-25 18:13] ArchanaNair commented on #125
Any solution for this?

[2020-12-02 09:30] guoliang1206 opened #160 "use_framework caused build error"
Hi, after I install this lib with cocoapods, my project got a build error.

![image](https://user-images.githubusercontent.com/12846676/100854351-dadb3c00-34c3-11eb-88d7-8f9aa5973338.png)

and here is my podfile

[code]

react-native : 0.61.0
xcode: 12.2
iOS:14.2

[2020-12-02 10:39] guoliang1206 commented on #160
why should I add 'Flipper' install module in the pod file?

[2020-12-09 16:37] MakhouT opened #161 "Typescript issue"
When committing my git hooks gets activated and I am getting this error

My tsconfig.js  is as following:

[code]

Any ideas why this is still happening? Can we fix it?

[2020-12-09 16:53] theoter opened #162 "Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081"
Hi!
Following the instructions to the point and also tried this with the Example but I get the following error when I:
`npx react-native run-android`

[code]

RN version is 0.64.4

I kindly appreciate your advice!

[2020-12-09 19:54] theoter commented on #162
Solution:
[code]
source: https://stackoverflow.com/questions/34995079/react-native-android-build-error-mainactivity-java29-error-cannot-find-symbol

[2020-12-09 19:55] #162 closed

[2020-12-10 13:19] Krishna8077078 opened #163 "Sticker,Save"
Sticker not load & image will be not saved??

[2020-12-11 13:17] bakir97 opened #164 "IOS no erase button like on android"
Is there a way to get the erase button on ios like on android? Or maybe ios doesn't support this feature?
![ios_bug](https://user-images.githubusercontent.com/38113801/101907839-67b88080-3bbb-11eb-9b53-a1d0286c43b8.png)

[2020-12-18 14:09] AllRiskNetto opened #165 "PhotoEditor.Edit() Crashing"
When I make a PhotoEditor.Edit it's crashing the app

![image](https://user-images.githubusercontent.com/74000226/102623566-748c2580-4121-11eb-98f4-d0a7e9960187.png)

My Coding

[2020-12-19 14:18] aziz-hayan commented on #165
I am Facing the Same problem. I think We are not supposed to be using URI as Path or something like move the image to app sandbox which i don't Myself. If you Have Figured out the solution please Share.

[2020-12-21 12:40] AllRiskNetto commented on #165
estou estudando o react-native-fs para bolar uma logica de quando a imagem vem da camera eu jogue essa foto para um diretorio e depois passe o path para o componente.

OBS: se a foto está na galeria, tudo funciona normalmente

[2020-12-21 12:40] AllRiskNetto commented on #165
I am studying react-native-fs to come up with a logic of when the image comes from the camera I throw this photo to a directory and then pass the path to the component.

NOTE: if the photo is in the gallery, everything works normally

[2020-12-21 17:43] AllRiskNetto commented on #165
hello, as I'm using the react-native-image-picker in the component's response it gives me the path where the image is stored on the device, so the solution I found was to pass this path to the component instead of the uri

[2020-12-22 15:37] DonovanDeSmedt commented on #161
I just added a fix in #166

[2020-12-23 10:02] MakhouT commented on #161
Thanks! Can confirm that it works!

[2020-12-28 09:38] MakhouT commented on #161
@prscX Can you please release? I am blocked by this.
Thanks!

[2020-12-28 09:43] LokiShenHua opened #167 "library not found"
excuse me , i have a problem when build in Xcode 12.1.

[code]

react-native version : 0.62.2

error:
ld: library not found for -lBVLinearGradient
clang: error: linker command failed with exit code 1 (use -v to see invocation)

any one help ? thanks

[2020-12-30 05:48] umair-dpl commented on #138
@prscX now is the time you should consider enhancing this library, we don't have much control in JS. how can we change the alignment of icons ? like see how beautiful they are in the above image ?

[2020-12-31 08:34] mshehrozsajjad commented on #165
Hi, for me this error was caused due to stickers in iOS you have to either remove them or add them to your project as mentioned in this comment. https://github.com/prscX/react-native-photo-editor/issues/109#issuecomment-582643497

hope this helps.

[2021-01-02 14:55] pramodsharma403 commented on #154
@serdargun have you got any solution for that? I have to add stickers from the server URL. is there any way to achieve this task?

[2021-01-02 15:14] serdargun commented on #154
Yes but its not from this library. And my solution is a little bit complicated.

I used following libraries:

1. `react-native-image-picker`
2. `react-native-view-shot`
3. `react-native-fs`

I can pick my background photo and my logo as different components with first library. And I made my logo component draggable. Thus I can put my logo/sticker wherever I want on background image.

To save your

[2021-01-03 06:35] pramodsharma403 commented on #154
@serdargun Thanks for the quick response. I will try your suggested solution.

[2021-01-10 19:03] aprakoso98 opened #168 "yarn ios got error"
I got error when run ios

`CompileC /Users/awanbisnis/Library/Developer/Xcode/DerivedData/awanNew-fopopatiszoddbgxrvqghhttjobx/Build/Intermediates.noindex/Pods.build/Debug-iphonesimulator/RNPhotoEditor.build/Objects-normal/x86_64/RNPhotoEditor.o /Users/awanbisnis/Documents/Bambang\ Adhitya/Projects/react-native/awanNew/node_modules/react-native-photo-editor/ios/RNPhotoEditor.m normal x86_64 object

[2021-01-13 10:20] codebasetejas opened #169 "App closes when clicking n cancel or Done button"
I'm selecting an image using imagePicker and on click of edit I pass the image to RNPhotoEditor using following code:
RNFS.copyFile(filepath, photoPath)
      .then(async () => {
        console.log('FILE WRITTEN!')
        console.debug(' photoPath: ', photoPath);
        let exist = await RNFS.exists(photoPath);
        console.log(' exists: ', exist);
        RNPhotoEditor.Edit({
          path

[2021-01-15 12:47] Richtervn commented on #100
@arsh-sw  "nguvl,vaodaymaxem" https://github.com/prscX/react-native-photo-editor/issues/27#issuecomment-452121083

[2021-01-18 14:25] russelRajitha commented on #93
you saved my day buddy. i was looking for a solution for a week.

[2021-01-19 03:24] russelRajitha commented on #5
I have same issue, ondone giving path as undefined. any solution for this?

[2021-01-23 06:21] krishnan-tech commented on #100
Is there any update to this?

[code]

Here is my code, and I am getting black screen, `defaultImage.jpg` exists in `images/` folder. Is there any problem in snippet?

[2021-01-26 09:04] prscX opened #171 "__swift_FORCE_LOAD_$_swiftUniformTypeIdentifiers / __swift_FORCE_LOAD_$_swiftCoreMIDI"
**Issue**

![image](https://user-images.githubusercontent.com/28862892/105823707-7f20c100-5fe3-11eb-8b74-76537a0de559.png)

Thanks
</ Pranav >

[2021-01-26 09:05] prscX commented on #171
In order to solve this issue: You have to add an empty swift file on your project.

When you add an empty swift file, XCode will ask you "Create Bridging Header".

It will include to the Header Search Path on your build settings:

[code]

[2021-02-02 05:37] VivekkChudasama commented on #27
@prscX Hi,

Image Editor functionality completed after Updated image not showing.

I'm using the latest plugin. `("react-native-photo-editor": "^1.0.8")`

[2021-02-02 05:39] VivekkChudasama commented on #100
Same Problem

[2021-02-02 07:10] VivekkChudasama commented on #158
same problem

[2021-02-02 12:47] Anytram opened #172 "XCode throws error: ld: library not found for -lYoga"
Hi,
I have problem after installing your library. Command pod install is executed without errors but when I try to run project I have the following error in React-Core:
![Zrzut ekranu 2021-02-2 o 13 31 18](https://user-images.githubusercontent.com/37418524/106600610-f19d1e00-655a-11eb-8326-8ae05a21e48a.png)

My Podfile:

[code]

I tried to delete Yoga from static_framwork, but another error was th

[2021-02-03 05:33] marcodafonseca commented on #151
My clients are asking about this bug again. Any feedback?

[2021-02-03 05:33] marcodafonseca commented on #152
My clients are asking about this bug again. Any feedback?

[2021-02-03 05:33] marcodafonseca commented on #153
My clients are asking about this again. Any feedback?

[2021-02-03 05:33] marcodafonseca commented on #155
My clients are asking about this bug again. Any feedback?

[2021-02-04 09:30] Anytram commented on #103
Hi @arjundalal  I have the same issue, did you manage to solve this?

[2021-02-04 09:41] Anytram commented on #2
Hi, I have the same issue, did you solve it?

[2021-02-15 13:31] filip0308 commented on #153
I also have this problem...

[2021-03-08 03:21] madn30 opened #174 "having bug during run-android"
the moment i install the libary "npm i react-native-photo-editor"
i couldnt run the project
![issue](https://user-images.githubusercontent.com/61381995/110269855-42c28680-7fcd-11eb-9095-d9d65c955d75.PNG)

android/app/src/debug/Manifast
![issue](https://user-images.githubusercontent.com/61381995/110270044-a3ea5a00-7fcd-11eb-9744-3ccc72ffd187.PNG)

android/app/src/Main/Manifast
![issue](https://user

[2021-03-10 15:05] jphilipstevens opened #175 "Allow fetching stickers over a network"
Hey,

I am looking to be able to get stickers from a server as well as bundle them into the app. My team may look at this but it would drastically add to the flexibility of the library

[2021-03-12 05:27] DeniferSantiago opened #176 "I can't install the library on iOS React Native 0.63.4"
I have tried to go through the library installation steps but can't get it to work on iOS. The error is in my pod file.

pod file:
[code]
First I had an error because the library adds a `LauchScreen.storyboard` file and I already have one named like that, so I went to `Solution -> Open target -> Build phases -> [CP] Copy Pods Resources -> Output files` and removed `$ {TARGET_BUILD_DIR} / $ {UNLOCA

[2021-03-12 09:56] theRealSheng commented on #172
Adding pods fixed my issue

`def flipper_pods()
  flipperkit_version = '0.74.0' # should match the version of your Flipper client app
  pod 'FlipperKit', '~>' + flipperkit_version, :configuration => 'Debug'
  pod 'FlipperKit/FlipperKitLayoutPlugin', '~>' + flipperkit_version, :configuration => 'Debug'
  pod 'FlipperKit/SKIOSNetworkPlugin', '~>' + flipperkit_version, :configuration => 'Debug'
  pod

[2021-03-12 09:59] theRealSheng commented on #176
I fixed this by adding pods flipper_pods as follows:

`ENV['SWIFT_VERSION'] = '5'
require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'
platform :ios, '10.0'

def flipper_pods()
  flipperkit_version = '0.74.0' # should match the version of your Flipper client app
  pod 'FlipperKit', '~>'

[2021-03-15 01:45] DeniferSantiago commented on #176
I was able to resolve the error, unfortunately I had to do it on my own, thanks for answering @theRealSheng.
The solution was to specify the fliper version.

This is what the pod file looks like after modifications:
[code]

[2021-03-21 00:21] #176 closed

[2021-04-07 19:01] Haseeba393 commented on #172
I am getting the same issue. @theRealSheng I did what you said but nothing is working for me. This is my podfile
`require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '10.0'

target 'practice' do
  config = use_native_modules!

  def flipper_pods() flipperkit_version = '0

[2021-04-07 20:14] theRealSheng commented on #172
@Haseeba393 create a separate project with the version of of react native you have in your project. Check the flipper version that uses and apply to your project.

Can you post the whole pod file together so I can check how you did it?

[2021-04-08 05:44] Haseeba393 commented on #172
Thank you @theRealSheng for replying. I have created react native project in 0.63.4 version and I'm using 0.74 Flipper version.
This is my whole Pod and Package.json files:

[Files.zip](https://github.com/prscX/react-native-photo-editor/files/6276326/Files.zip)

Please have a look and let me know what I did wrong and how I can handle that. Thank you very much

[2021-04-08 11:54] Haseeba393 commented on #172
Any luck so far?

[2021-04-12 03:34] chathuri4 commented on #175
Hi, this would be great, so that each new sticker would not require a app store submission or drastically increase the size of the app.

Any estimate on when this can be included?

[2021-04-13 17:47] fdobre opened #177 "Android 11 text not visible"
On some android devices the text is not visible not matter the color you choose and what you type. Drawing is visible but text not:

Left side Android 11 Samsung s10e not visible, right side HTC10 Evo (Android 7) text cursor and text is visible:

![photo_editor_android_issue1](https://user-images.githubusercontent.com/3833179/114597316-4b2b7280-9c99-11eb-8ef7-f80f0146272a.jpg)

If you know any wor

[2021-04-14 22:20] ChrisConway commented on #150
I had exactly the same error. After debugging it turned out that the statement **photoEditor.stickers = imageStickers** is causing the error (see image).
![iOS-Crash-PhotoEditor](https://user-images.githubusercontent.com/2480938/114786053-d0885300-9d7d-11eb-949e-bdf6d59e6c49.png)

**Fix: add the stickers to your target** (see image)
![iOS-Fix-PhotoEditor](https://user-images.githubusercontent.com/

[2021-04-16 17:48] pawel3ala opened #178 "Is this lib expo ready?"

[2021-04-20 12:40] waheedshabeer commented on #134
Hi
anyone can help me?
after pressing -> next error from right bottom (next button) I am getting same image path
but I need different path of orignal image an also editied phot
please help me

[2021-04-20 12:42] waheedshabeer opened #180 "I am not getting edited image path onDone"
Hi
anyone can help me?
after pressing -> next error from right bottom (next button) I am getting same image path
but I need different path of orignal image an also editied phot
please help me

ON DONE:  file:///data/user/0/com.tfsol.jozeko/cache/rn_image_picker_lib_temp_a68976a2-e692-4ee3-8f50-136e11d17206.jpg
OLD WAS:  file:///data/user/0/com.tfsol.jozeko/cache/rn_image_picker_lib_temp_a68976a2-e

[2021-04-22 17:38] umair-dpl commented on #134
you have to make changes in PhotoEditorActivity.java and change the path there.

[2021-04-26 10:42] GaylordP commented on #153
Thank you for this fabulous package :)

I agree with the previous opinions, these improvements would be really beneficial :)

Thanks you very much in advance ^^

[2021-04-26 10:55] GaylordP commented on #133
Hello,

Thanks, I had the problem.
However, what is the impact of this modification and why is it needed for this package ?
Many sites say to handle this variable with care

Thanks you very much in advance

[2021-05-04 21:23] Haseeba393 opened #181 "Could not resolve com.github.prscX:photo-editor-android:master-SNAPSHOT"
I have been using this library for last few days and it was working fine. Today, I deleted my node_modules and install them again and now I'm getting error from one of the dependencies added to photo editor build.gradle file.
Can you please help me out in this?

[2021-05-05 17:36] VivekkChudasama commented on #98
Facing the same error.

[2021-05-06 08:16] VivekkChudasama opened #182 "iOSPhotoEditor.framework: No such file or directory"
###  IOS build Issue

@prscX Please help me for resolved this issue.

iOS Prerequisite: Please make sure CocoaPods is installed on your system

I'm following the above step for the iOS integration point but facing an error.
Anyone, please help me to resolve this point.
How to integrate this library in IOS.?
This library properly working on android.

![image](https://user-images.githubusercontent.c

[2021-05-09 14:06] availasoftNo1 commented on #176
@DeniferSantiago
I am getting the same issue,Do you have any idea how to fix it? Thanks!
My Pod file:
require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '10.0'

target 'joyAjoy' do
  pod 'Google-Mobile-Ads-SDK', '~> 7.8'
  pod 'react-native-ffmpeg/full-gpl-lts', :podspe

[2021-05-10 12:17] Terry-Jiang-A opened #183 "I can't install the library on iOS React Native 0.64.0"
I have tried to go through the library installation steps but can't get it to work on iOS. Now I am getting the error:
Multiple commands produce '/Users/xxx/Library/Developer/Xcode/DerivedData/myApp-adubuhkkqoeyktbpefmzjdnrepxa/Build/Products/Debug-iphonesimulator/myApp.app/LaunchScreen.storyboardc':
1) Target 'myApp' (project 'myApp'): LinkStoryboards
2) That command depends on command in Target

[2021-05-24 05:02] DeniferSantiago commented on #176
In RN 0.64.0 I added the following:
[code]

[2021-05-24 05:02] DeniferSantiago commented on #183
In RN 0.64.0 I added the following:
[code]

[2021-05-24 05:04] DeniferSantiago commented on #182
Is your React Native version less than 0.61?

[2021-05-24 05:10] DeniferSantiago commented on #180
It works for me to use this function passing the route returned in onDone:

[code]

[2021-05-24 05:13] DeniferSantiago commented on #177
I think the error is that you do not have the focus on the input, you should try to press the center of the screen and then type. I wish I could have time and get to know the native language better to solve little things like that.

[2021-05-24 05:15] DeniferSantiago commented on #175
I would also like, but I have not had much time and this is not essential in my app. So I doubt I can take the time to add such functionality

[2021-05-24 05:16] DeniferSantiago commented on #174
Did you follow the installation guide on the main page?

[2021-05-24 05:25] DeniferSantiago commented on #172
This is what my PodFile looks like in react native 0.63.4:
[code]

[2021-05-25 03:00] availasoftNo1 commented on #183
@DeniferSantiago <img width="544" alt="image" src="https://user-images.githubusercontent.com/7054111/119433159-4651e800-bd48-11eb-8a1d-3a740bff0eae.png">Thanks for your help, But still no luck. And I still get the error like this:
error: Multiple commands produce '/Users/XXX/Library/Developer/Xcode/DerivedData/XXX-adubuhkkqoeyktbpefmzjdnrepxa/Build/Products/Debug-iphonesimulator/XXX.app/LaunchScre

[2021-05-25 03:09] DeniferSantiago commented on #183
yes its a bug, fix it alternatively by renaming your launch screen.  In my case I changed it from `LaunchScreen.storyboard` to `SplashScreen.storyboard`

[2021-05-25 15:21] Sebastian-Schuchmann opened #184 "How to? Building new Featues"
Hello,

as I understand this Library is a wrapper around two native modules but I am a bit confused as why there is no code for iOS in this repo. Am I missing something? How can I extend the native modules that this Library wrapped?

Cheers, Seppi!

[2021-05-27 21:26] Brandon-Hernandez-T commented on #124
i have the same 'issue', please the answer!

[2021-06-02 17:35] VivekkChudasama commented on #182
@DeniferSantiago  No, My React Native version 63.4

[2021-06-05 13:10] aswin9339 commented on #176
I am facing the same issue 0.63.4. I run in M1 chip. I fixed the multiple command issue. Now getting the below error

ld/Debug-iphonesimulator/Flipper.build/Objects-normal/x86_64/ConnectionContextStore.o Flipper/xplat/Flipper/ConnectionContextStore.cpp normal x86_64 c++ com.apple.compilers.llvm.clang.1_0.compiler

Any idea how to solve?

[2021-06-05 13:35] DeniferSantiago commented on #176
@aswin9339  Do you use xcode 12.5?

[2021-06-05 13:36] DeniferSantiago commented on #176
@aswin9339 Which version of flipper do you specify in your podfile?

[2021-06-05 13:37] aswin9339 commented on #176
Yes I am using XCode 12.5 and 12.4. Which one are you using?

[2021-06-05 13:37] aswin9339 commented on #176
require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '11.0'

target 'AusRoofReport' do
  config = use_native_modules!

  use_react_native!(:path => config["reactNativePath"])

  pod 'react-native-progress-view', :path => '../node_modules/@react-native-community/progress-v

[2021-06-05 13:39] DeniferSantiago commented on #176
your RN version?

[2021-06-05 13:39] aswin9339 commented on #176
0.63.4

[2021-06-05 13:42] aswin9339 commented on #176
I tried flipper 0.74.0 & 0.87.0. Both didn't workout.

[2021-06-05 13:44] DeniferSantiago commented on #176
I think your problem is related to this: [Xcode 12.5](https://github.com/facebook/react-native/issues/31480)

[2021-06-05 13:46] aswin9339 commented on #176
Which version of XCode are you using?

[2021-06-05 13:47] DeniferSantiago commented on #176
when I had this problem I was using version 12.4

[2021-06-05 13:47] DeniferSantiago commented on #176
now I use version 12.5

[2021-06-05 13:49] aswin9339 commented on #176
Is your chip M1?

[2021-06-05 13:52] DeniferSantiago commented on #176
No

[2021-06-16 07:50] vivrkerror404 commented on #180
Still only old image is getting visible(save image option is working fine only)

 anyone know how can I hide this -> next arrow button on right side

[2021-06-19 18:45] Sabih-Uz-Zaman opened #185 "Can't install library."
Hy. I am creating a beauty app for which I needed this library.  but when I am trying to install it by using yarn package manager, it was giving an error because I didn't have yarn installed. so I installed yarn with the command "npm install -g yarn". After that yarn was added successfully. but when I tried to install that library with the help of command "yarn add react-native-photo-editor" it wa

[2021-06-22 14:42] kyle-ssg commented on #133
I believe this will persist async storage between uninstalls which is definitely quite undesirable in a lot of cases.

[2021-06-22 14:46] kyle-ssg commented on #133
I believe we can also edit our own manifest as follows:

[code]

[code]

[2021-06-25 09:45] ghasemikasra39 opened #186 "TypeError: Cannot read property 'Edit' of undefined"
[code]

Works perfectly on ios, but on android gives this error:
[code]

Seems your auto-linking not working

[code]

[2021-06-26 11:30] prscX commented on #186
Thanks @ghasemikasra39 for reporting the issue. It looks weird.

I have just tried to run Example project on android and works fine. Could you please try the example project once. Let me know if it does not work for you.

May be you need to typescript configuration. `tsconfig.json`, `tslint.json`

Thanks
</ Pranav >

[2021-06-26 11:32] prscX commented on #184
@Sebastian-Schuchmann: Library has iOS native module as well, please refer below path

 `https://github.com/prscX/react-native-photo-editor/tree/master/ios`

Thanks,
</ Pranav >

[2021-06-26 11:32] #184 closed

[2021-06-26 11:34] prscX commented on #183
I have also pushed a  RN64 compatible version of the library. Please install the latest version and also verify the updated installation steps defined on the `README`.

Thanks
</ Pranav >

[2021-07-02 11:08] aqibnaveed commented on #110
What was the issue? & how is it resolved?

[2021-07-09 14:08] brightofficesystem commented on #183
/Pods/FlipperKit/iOS/Plugins/FlipperKitLayoutPlugin/FlipperKitLayoutPlugin/UIView+SKInvalidation.mm:13:9: 'SKSwizzle.h' file not found

[2021-07-09 14:09] brightofficesystem commented on #183
/Users/sumangautam/brightapp/brightios/brightschooliosv2/ios/Pods/FlipperKit/iOS/Plugins/FlipperKitLayoutPlugin/FlipperKitLayoutPlugin/UIView+SKInvalidation.mm:13:9: 'SKSwizzle.h' file not found

[2021-07-19 21:31] Bladymendoza97 opened #187 "How do I get the path of the edited image?"
I would like to be able to save the edited image to some kind of state variable, how can I save this image, or rather what library function should I use so that this image is returned already edited?

[2021-07-19 21:44] Bladymendoza97 commented on #180
Hello friend, can you explain a little better how I can get the edited image once I activate the onDone function?

[2021-07-19 23:41] Bladymendoza97 commented on #145
Hello friend, I did what you explained to me in this way, but I still cannot edit the photo.

<img width="599" alt="Captura de Pantalla 2021-07-19 a la(s) 5 42 00 p  m" src="https://user-images.githubusercontent.com/41081923/126240986-2148fcc6-5b7d-416a-b08a-06a8ec3e5c70.png">

[2021-07-19 23:43] Bladymendoza97 commented on #187
Hello?

[2021-07-20 12:28] brightofficesystem commented on #183
Cycle inside FBReactNativeSpec; building could produce unreliable results. This usually can be resolved by moving the shell script phase '[CP-User] Generate Specs' so that it runs before the build phase that depends on its outputs.
Cycle details:
→ Target 'FBReactNativeSpec': Libtool /Users/sumangautam/Library/Developer/Xcode/DerivedData/photoeditios-fqrnxofklyxdqyhdjoorsyyqltew/Build/Products/Deb

[2021-07-20 12:32] sumangautam38 commented on #183
@DeniferSantiago  please help to solve this issue

Cycle inside FBReactNativeSpec; building could produce unreliable results. This usually can be resolved by moving the shell script phase '[CP-User] Generate Specs' so that it runs before the build phase that depends on its outputs.
Cycle details:
→ Target 'FBReactNativeSpec': Libtool /Users/sumangautam/Library/Developer/Xcode/DerivedData/photoedit

[2021-07-21 11:23] KevinMac19 opened #188 "Unable to complete setup the package in ios as well as android"
the given steps are not working for me i am my project version is 0.64

in iOS it gives the error Like  => ###  'React/RCTBridgeDelegate.h' file not found

and in android Like this =>

**Manifest merger failed : Attribute application@allowBackup value=(false) from AndroidManifest.xml:11:7-34
	is also present at [com.github.prscX:photo-editor-android:master-SNAPSHOT] AndroidManifest.xml:12:9-35 val

[2021-07-23 01:14] DeniferSantiago commented on #183
Try using this: [react-native issue](https://github.com/facebook/react-native/issues/31149#issuecomment-800841668)

[2021-07-23 21:11] Avais392 opened #189 "Cannot build app on iOS"
Showing Recent Errors Only
Cycle inside FBReactNativeSpec; building could produce unreliable results. This usually can be resolved by moving the shell script phase '[CP-User] Generate Specs' so that it runs before the build phase that depends on its outputs.
Cycle details:
→ Target 'FBReactNativeSpec': Libtool /Users/avais/Library/Developer/Xcode/DerivedData/vetmap-cjwoenaxvmspwygmbvhfyfozprxz/Bui

[2021-07-23 23:30] Avais392 commented on #98
Same error

[2021-07-26 09:55] sqb47 opened #190 "Image Crop Issue"
image crop button is UN-clickable after first crop is saved

[2021-07-27 11:35] club9822 commented on #100
i encounter this issues in low quality android phones with Big Image size
if i send image with big size (back camera captured image) ( ~ 3MB) , black screen shows and
if i use front camera ( image size: ~ 1 MB), Image shows.

this Shows all image sizes fine In High Quality Devices.

i am pretty sure that path of provided image is correct(without file://) and moved image to dir before edit.

[2021-07-29 07:02] lb90 commented on #188
Hello @KevinMac19! See #133

[2021-08-07 12:25] ProgrammerPawan commented on #165
@AllRiskNetto I'm facing same problem could you please help me, i'm passing uri like below.
`PhotoEditor.Edit({
      path: this.state.imageCollection[0].uri,
    });`
 Please help me on how to pass path to the component.

[2021-08-19 09:04] SanskarDahiya opened #191 "Unable to locate edited image [Android 10, Android 11]"
I'm testing on both Andoird 10 & Android 11 devices.
Scenario:
When I click on the save option after editing. Then image saved into ```Pictures/PhotoEditorSDK/``` folder.

After that, the Image is visible when I go into the PhotoEditorSDK folder using internal memory.
Since my device show images or recent side menu options on File Manager. That edited image is not visible there.

That edited image

[2021-09-14 09:37] varunkamanibosc commented on #183
Thanks @DeniferSantiago
This helped a lot

[2021-09-17 03:29] Shaliluya commented on #176
Did you solve this problem?

[2021-09-21 14:31] jonotrybe commented on #175
Hi I am not sure if my team could do this but if we submitted a pr to do this would you accept the change @DeniferSantiago ?

[2021-09-30 17:21] jonotrybe commented on #126
I am seeing this too

[2021-10-14 12:21] A-M-Alizadeh opened #192 "is it possible to add the feature to choose a background color instead of an image?"
I want to implement something like Whatsapp status in my application and I'm using this great library for editing photos, now I need to have a plain colored background and add text and emoji over it, is it possible to do this right now?

[2021-10-26 19:06] vishalparmar22091989 opened #194 "Any one can please provide working demo code in iOS ?"
Demo code not working on iOS. can any one please provide working demo link. Thanks in Advance

[2021-10-28 07:19] kousiclattala opened #195 "Cannot find protocol declaration for 'PhotoEditorDelegate'"
I'm getting this error when I run my react-native app in ios. I have done the linking as specified in the documentation.
![Screenshot 2021-10-28 at 12 46 41 PM](https://user-images.githubusercontent.com/51958513/139206093-e85e93e3-e158-4ec5-ab7b-ede29f6f26b8.png)
.

[2021-10-30 20:53] hirbod opened #197 "EXPO Eas Config Plugin"
Would be super cool if you could provide an EXPO Config Plug-in for this library so we could use it in a half managed environment with expo and eas build.

[2021-11-11 14:32] houssemELbahri opened #198 "default color in version 1.0.6"
how can i change the default color in this version ?

[2021-12-01 13:41] LcBaixiao commented on #27
Nice，bro

[2021-12-19 14:54] deyanskiq commented on #139
any update?

[2022-01-18 12:15] mudassir912 commented on #195
same issue.
any solution??

[2022-01-31 02:17] wisemike2 opened #199 "Add border outside transparent image edges? Or a dark background?"
When typing text over a transparent image, I don't see the edges of the image, so after moving and saving, the text is cut sometimes.

Is it possible to add a border around the image itself? Or a darker background (around the transparent image, that doesn't show in the image's background itself)?

[2022-02-01 21:42] mark-hayward commented on #181
Did you ever find out what causes this? I have the same issue.

[2022-02-01 22:42] muthugit opened #200 "Could not determine the dependencies of task ':react-native-photo-editor:compileDebugAidl'."
While build the apk getting

[code]

[2022-02-02 02:37] vudjzx commented on #200
Having the same issue here. @1.0.12

[2022-02-02 09:02] PiotrBorowski commented on #200
Same here at 1.0.6

[2022-02-02 09:08] crckmc commented on #200
The dependency "com.github.prscX:photo-editor-android:master-SNAPSHOT" can not be resolved.
A temporary fix is to remove the "-SNAPSHOT" from the name.

[2022-02-02 09:43] jcalixte commented on #200
The workaround looks good, thank!

[2022-02-02 13:24] PiotrBorowski commented on #200
Something failed:
` ⚠️   WARNING:
 Gradle 'publishToMavenLocal' task not found. Please add the 'maven-publish' or 'maven' plugin.
 See the documentation and examples: https://jitpack.io/docs/`
https://jitpack.io/com/github/prscx/photo-editor-android/master-f5dc1ff4f3-1/build.log

[2022-02-02 13:30] bakir97 commented on #200
I have the same problem right now...
This won't work with something like app center, you can change the file locally but because it's in node_modules when you run again install it will be gone

[2022-02-02 13:37] crckmc commented on #200
if its time critical make a fork and then reference your repo

[2022-02-02 14:20] khaled-hbaieb commented on #181
Go to node_modules/react-native-photo-editor/android/build.gradle
Remove SNAPSHOT from ->    implementation 'com.github.prscX:photo-editor-android:master-SNAPSHOT'
and then run your project.

[2022-02-02 15:28] jcalixte commented on #200
FYI, I used [patch package](https://www.npmjs.com/package/patch-package) to be sure this workaround works after every `npm install`

[2022-02-03 04:48] endruuu commented on #126
Any update on this?

[2022-02-03 04:54] endruuu commented on #126
My bad. In my case, I used emulator and didn't toggle the software keyboard to show up. With keyboard displayed, the color options showed up.

[2022-02-03 12:54] Tafsir1729 commented on #181
Has anyone found any solution of this issue? I am stuck into this.

[2022-02-06 21:02] mathieumg commented on #181
@Tafsir1729 The solution by @khaled-hbaieb above in https://github.com/prscX/react-native-photo-editor/issues/181#issuecomment-1027987736 worked for us. We leverage https://github.com/ds300/patch-package to apply it for now.

[2022-02-09 14:28] mark-hayward opened #202 "Example app on iOS doesn't work"
I'm trying to run the example on iOS and the build fails with:

`
Showing Recent Errors Only

Build target iOSPhotoEditor of project Pods with configuration Debug

CompileXIB /Users/mark/WebstormProjects/react-native-photo-editor/Example/ios/Pods/iOSPhotoEditor/Photo\ Editor/Photo\ Editor/StickersViewController.xib (in target 'iOSPhotoEditor' from project 'Pods')
    cd /Users/mark/WebstormProject

[2022-02-14 10:31] Tafsir1729 commented on #181
It also worked for me! Thanks

[2022-02-17 06:45] SintoAntony opened #203 "Cursor need to hide and resize the text"
Hi

Thanks for this awesome library.

When I am adding text with the help of this library the cursor is not hiding after the edit is finished. I am getting a text with cursor inside the image.

Could you please dismiss the cursor when the edit is finished?

And is there any option to resize the text?

<img width="308" alt="Screenshot 2022-02-17 at 12 13 43 PM" src="https://user-images.githubuserco

[2022-03-08 06:45] akshay-svmx commented on #186
@ghasemikasra39 Is Your Issue resolved?? If Yes, how did you solve it? I am getting the same issue.

[2022-03-29 19:48] concatto commented on #156
@scblason Sorry, unfortunately I have to say I don't know. I glanced over the ios folder, and couldn't find any strings there; I suspect they're defined in the iOS package itself (https://github.com/eventtus/photo-editor). I suggest you take a look there! Good luck!

[2022-03-30 05:11] mnjsnj opened #204 "Crop option is not working (Android only)"
First of all thank you for adding the crop option into android too  and cropping  in iOS working fine but in android crop option is not working properly

[2022-04-09 11:10] prscX commented on #204
@mnjsnj: Thanks for raising the issue.

I have just tried the same thing, but I am not able to  reproduce the same. Could you please share recording of the same.

Thanks,
Pranav

[2022-04-09 11:19] prscX commented on #156
@scblason: At present, there is no provision to pass literals from library JS API.  We need manually make changes to below iOS .xib file. You can find this file from your xcode project nav panel. Let us know if that works for you:

https://github.com/eventtus/photo-editor/blob/30f2db6c24fd40a45f4cb2db866479e6f7be7b69/iOSPhotoEditor/PhotoEditorViewController.xib

Thanks,
</ Pranav >

[2022-04-11 04:45] #204 closed

[2022-04-11 13:51] moygospadin opened #206 "Erase button android"
Erase button on android dont work
Android Emulator- Pixel 5
RN - 0.67.3

[2022-04-12 04:51] prscX commented on #206
@moygospadin: Thanks for raising the issue. Would it be possible to share a video of the same. Does it work on other devices?

Thanks
</ Pranav >

[2022-04-17 17:18] AliRezaBeigy commented on #195
Solution:
Podfile
[code]

[2022-04-18 02:22] prscX commented on #195
@AliRezaBeigy: Thanks for sharing the fix.

@mudassir912: You could also refer the installation steps defined [here](https://github.com/prscX/react-native-photo-editor#-getting-started).

Thanks, </ Pranav >

[2022-04-18 02:22] #195 closed

[2022-04-19 08:01] memanoj commented on #190
Ok i solved this issue by adding a condition in startCropping method  into  /node_modules/react-native-photo-editor/android/src/main/java/com/ahmedadeltito/photoeditor/PhotoEditorActivity.java

           private void startCropping() {

              System.out.println(selectedImagePath);

              if (selectedImagePath.contains("file://")||selectedImagePath.contains("content://")) {

[2022-04-19 08:03] memanoj commented on #204
Hi i fix the this issue please check #190 may hope it will help you so i am closing the issue now so i requested to [prscX](https://github.com/prscX) to check this and update it the git repo it will help to other developer also in Android who are stuck in this issue.

[2022-04-19 08:05] memanoj commented on #152
Hi i fix the this issue please check https://github.com/prscX/react-native-photo-editor/issues/190 may hope it will help you so i am closing the issue now so i requested to [prscX](https://github.com/prscX) to check this and update it the git repo it will help to other developer also in Android who are stuck in this issue.

[2022-04-19 08:06] memanoj commented on #105
Hi i fix the this issue please check https://github.com/prscX/react-native-photo-editor/issues/190 may hope it will help you so i am closing the issue now so i requested to [prscX](https://github.com/prscX) to check this and update it the git repo it will help to other developer also in Android who are stuck in this issue.

[2022-05-09 08:05] malikhamza0546 commented on #174
I am facing the same issue can you please tell me how you have resloved it

[2022-05-10 06:02] malikhamza0546 commented on #129
@prscX  Thanks for giving answer I have been stucked here for a day

[2022-05-15 16:58] anudr01d commented on #49
For anybody getting this issue - The fix for me was to add the following line within podfile

`pod 'RNPhotoEditor', :path => '../node_modules/react-native-photo-editor/ios'`

[2022-05-19 01:52] mohamedyassin60 commented on #186
It is now changed to PhotoEditor.Edit.open({ .... }). The documentation was never updated.

[2022-05-20 13:31] gnana-guru commented on #188
import tools at the top of the manifest
and then add tools:replace="android:allowBackup within the application tag<>.

[2022-05-21 14:21] IgenRahul commented on #206
same here bro erase button is not working

[2022-05-26 18:23] ashishprodev commented on #142
how to hide or removed this button

[2022-06-15 05:20] arshadrGit commented on #98
Same error. Can we get any solutions?

[2022-06-19 15:31] sadewa25 commented on #165
Are you solved this issue?, because this is also happen for me

[2022-06-24 14:57] Khaled-Hb opened #208 "Fatal Exception: java.lang.NullPointerException"
I am getting this error on crashlytics

Fatal Exception: java.lang.NullPointerException
**Attempt to invoke virtual method 'void android.view.View.dispatchCancelPendingInputEvents()' on a null object reference

ui.photoeditor.RNPhotoEditorModule.Edit (RNPhotoEditorModule.java:106)**

The problem is that i cannot reproduce this issue on my testing phones ... this happened in an arbitrary way for my

[2022-06-27 09:24] Khaled-Hb commented on #100
Anyone found a solution for this problem ?

[2022-07-11 15:13] dkr13 opened #209 "PHPickerViewController view is not in the window hierarchy"
I'm using [react-native-image-picker](https://github.com/react-native-image-picker/react-native-image-picker) to let the user select an image from the gallery. When I try to use the returned value with the PhotoEditor, I get the following error message in Xcode:

Here's the code that I use to launch the PhotoEditor:

[code]

`response.uri` is the value returned from `react-native-image-picker` and

[2022-07-28 08:22] #208 closed, assigned to nobody

[2022-08-08 06:45] ydhnwb commented on #169
I have this issue also. Any solution for this?

[2022-08-08 08:52] ydhnwb opened #211 "onDone and onCancel is not executed"
I have a code like this

[code]

But somehow onDone and onCancel is not executed.
thePath is "/storage/emulated/0/Android/data/com.myapp.me/cache/165994856974120220328_150045.jpg"

[2022-08-08 19:44] jaylin-slate commented on #189
same issue here

[2022-08-08 19:48] dotku commented on #189
Same issue here

[2022-08-08 20:49] dotku commented on #49
Did this, but I still got error:

<img width="387" alt="image" src="https://user-images.githubusercontent.com/1519232/183511954-9fdfaa6d-a915-47bc-a02a-11e21f0065d8.png">

[2022-08-11 08:56] #211 closed, assigned to nobody

[2022-08-11 08:58] ydhnwb opened #212 "Permission will always denied even when already granted from react native class"
This happen when I click SAVE button. It show me a AlertDialog to inform that this will need WRITE access to storage, after I click continue, toast show "You denied the access...".

The permission is already allowed on react native class.

How do I fix this?

[2022-08-16 14:40] sparkison commented on #177
@DeniferSantiago is correct:

That said, would be great if it auto-focused like it does on iOS. This is not very intuitive...

[2022-08-17 09:10] dotku opened #213 "Multiple targets match implicit dependency for linker flags '-framework fmt'"
I wasn't able to run build after I add `pod 'RNPhotoEditor', :path => '../node_modules/react-native-photo-editor/ios'`, the error I got is

[code]

and th podfile is

[code]

[2022-08-22 04:49] memanoj opened #214 "This patch fill fix the issue for Crop option is working only one time (Android)"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-photo-editor@1.0.13` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-08-24 03:16] j0eii commented on #189
same issue here

[2022-09-08 11:14] jaylin-slate commented on #186
Anyone resloved this? I have been working on it over couple weeks :(

[2022-09-08 17:21] scblason commented on #130
Hello @hamzaouhssain1993. We are having this issue as well on Android devices mainly. When the user start annotating in portrait and then rotate the device, it looses all the annotations. We are planning to block the orientation as well, and for that, we are gonna create a fork, Did you find any other workaround o do you have any hint on how to block the orientation? Thanks

[2022-09-12 09:01] hamzaouhssain1993 commented on #130
Hello! @scblason  in Android in PhotoEditorActivity.java on the onCreate i added this:

        if (bitmap.getWidth() > bitmap.getHeight()) {
            setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_LANDSCAPE);
            this.portrait = false;
        } else {
            setRequestedOrientation(ActivityInfo.SCREEN_ORIENTATION_PORTRAIT);
            this.portrait = true;
        }

[2022-09-12 10:24] scblason commented on #130
Thanks a lot for your response!

[2022-09-22 08:58] abdoerrahiem opened #215 "How to use this lib with react-native-image-crop-picker or react-native-image-picker?"
I want to use this library as editor of a photo taken by react-native-image-crop-picker or react-native-image-picker.
But when I put the result (uri) to path of this lib. It got blank and in onDone, the value still the same as before.
![Capture](https://user-images.githubusercontent.com/54793608/191704786-ebe14f79-90ec-487c-a874-1916d3a8340c.PNG)

[2022-09-23 09:45] mmenacer commented on #209
Is this issue similar to this one:  RCTModalHostViewController
Attempt to present <iOSPhotoEditor.PhotoEditorViewController: 0x104018000> on <RCTModalHostViewController: 0x118682e60> (from <RCTModalHostViewController: 0x118682e60>) whose view is not in the window hierarchy.

Thank you,

[2022-09-23 12:26] hamzaouhssain1993 commented on #130
my man @scblason  i forgot to share our fork.. you can try and see if it works for you :D https://www.npmjs.com/package/fleetback-react-native-photo-editor

[2022-09-23 12:29] scblason commented on #130
Thank you very much! This fork has only changes mentioned in this thread above? Much appreciated. Do you have an open PR with this changes? I think this could be really useful. But I don't know if this lib is very actively maintained.

[2022-09-23 12:32] hamzaouhssain1993 commented on #130
Our fork fixes orientation problems for ios and android ( blocking it depending on the image size ).
 Resizing the image to fit on the phone...
adding android erase...
 and a better design improvements on both ios and android.
No the gtihub repository is not open sorry, it is available on NPM, but it can not be opened...

[2022-10-18 09:37] akhilesh-mourya commented on #209
Yes @mmenacer this issue is similar to what you posted. I am also facing the same issue.

[2022-10-18 09:54] mmenacer commented on #209
@akhilesh-mourya

I found the issue and a solution for this issue. The issue is only for iOS platform.

The problem is that the app has more than 2 modals open. And if you open the image picker it will be the 3rd modal (on open state).
So to fix the issue. You have to make sure that you closed the 1st modal.
I used in my solution:
[code]

If you can not close it so the solution is to convert all y

[2022-10-19 07:08] muralitharanaspritle opened #217 "iOS Build failed After the pod file configuration"
![Screenshot 2022-10-19 at 12 21 37 PM](https://user-images.githubusercontent.com/97423613/196618331-495e1b75-d8a7-4ef6-bb30-f3be9f1a17b6.png)

Firstly, This package is amazing thanks for the contributors. In android this package working perfectly however I am facing error when I build the app after pod file changes.
### The error is like
local.file not found,
Showing All Errors Only
/Applications

[2022-10-26 19:13] Hashir524 commented on #154
@serdargun Any code link to your solution?

[2022-11-02 05:54] iamharisdev commented on #215
### I have same question did you fix this issue yet or not @abdoerrahiem

[2022-11-03 11:03] zaraganja commented on #165
pay attention to your image path, get console.log wherever you path is there, and get the correct path of your photo. the problem is your photo path.
else pay attention to your pod file and flipper kit installation.
i solved the problem!

[2022-11-03 11:10] muralitharanaspritle commented on #217
Notes: React-Native-Firebase uses use_frameworks, which has compatibility issues with Flipper, Hermes & Fabric.

Flipper: use_frameworks [is not compatible with Flipper](https://github.com/reactwg/react-native-releases/discussions/21#discussioncomment-2924919). You need to disable Flipper by commenting out the :flipper_configuration line in your Podfile.

Hermes: a fix was put in place in [react-n

[2022-11-03 11:10] #217 closed, assigned to nobody

[2022-11-03 11:22] HummaSaeed commented on #49
How this issue will be fixed on android?

[2022-11-03 12:02] mujuappsile commented on #187
@Bladymendoza97 Hi... ! You will get edited image path in onDone callback function. hope you will get this